<!-- <div class="panel-body bg-white">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<form role="form" class="form-validation" name="partnerDetailForm"
				id="partnerDetailForm">
				<table class="table table-striped mb30 table table-bordered mb30">
					<thead>
						<tr>
							<td>Day</td>
							<td>Start Time</td>
							<td>End Time</td>
							<td>24 hours</td>
						</tr>

					</thead>
					<tbody>
						<tr ng-repeat="hoursObj in space.officeHours">
							<td align="center">{{hoursObj.day}}</td>
							<td align="center"><uib-timepicker ng-model="hoursObj.startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker></td>
							<td align="center"><uib-timepicker ng-model="hoursObj.endTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker></td>
							<td align="center"><input name=''
									id='' type="checkbox"
									class="not-show wdth-meetngdtls"
									ng-model="hoursObj.isAllday" /></td>
						</tr>
					</tbody>
				</table>

			</form>
		</div>
	</div>
</div> -->