<section class="partnerinfo mydetails" ng-controller="SpaceController"
	data-ng-init="assignSpaceObject(); loadSpaceType(); loadPartners(); isSpaceDefined();">
<div data-ng-include="'/system/views/alert.html'"></div>
	<div ng-if="loaderEnabled">
		<div id="preloaderImage">
			<div class="tb-cell">
				<div id="page-loadingImage">
					<div></div>
					<p><h4 class="h-image-caption">Uploading....</h4></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<!-- Banner Content -->
		<div class="banner-cn">
			<!-- Tabs Content -->
			<div class="tab-content">
				<div class="row">
					<div data-ng-include="'/superAdmin/views/adminLeftPanel.html'"></div>
					<!-- End Tabs Cat -->
					<div class="col-sm-9 col-lg-10 mydetailsnav">
						<div class="page-content page-thin dashboard-content col-sm-12 col-lg-12 no-left-pad">
							<div class="row">
								<div class="col-lg-12 portlets">
									<div class="panel panel-default no-bd">
										<div class="panel-body bg-white">
											<div class="row">
												<form role="form" class="form-validation"
													name="partnerDetailForm" id="partnerDetailForm">
													<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="row">
															<div class="col-sm-6" ng-hide="hidePartnerDropDown">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.partner.$invalid }">
																	<label class="control-label">Partner</label>
																	<div class="append-icon">
																		<select ng-model="space.partner" name = "partner"
																			class="custom_dropdown selectRole" data-placeholder="Choose One" required>
																			<option value="">Select One</option>
																			<option ng-repeat="partner in partners"
																				value="{{partner._id}}">{{partner.first_name}}
																				{{partner.last_name}}</option>
																		</select>
																						<div
																			ng-show="submitted && partnerDetailForm.partner.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.partner.$error.required">Please
																				enter the partner </span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.spaceType.$invalid }">
																	<label class="control-label">Space Type</label>
																	<div class="append-icon">
																		<select id="select-search-hide"
																			class="custom_dropdown selectRole" data-placeholder="Choose One"
																			name="spaceType" ng-model="space.space_type"
																			ng-change="loadAmenities(space.space_type)"
																			ng-options="spaceType._id as spaceType.name for spaceType in spaceTypes"
																			ng-selected="{{spaceType._id == space.space_type}}" required>
																			<option value="">Select One</option>
																		</select>
																		<div
																			ng-show="submitted && partnerDetailForm.spaceType.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.spaceType.$error.required">Please
																				enter the spaceType </span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.name.$invalid }">
																	<label class="control-label">Name</label>
																	<div class="append-icon">
																		<input type="text" name="name" class="form-control"
																			minlength="4" ng-model="space.name"
																			placeholder="Minimum 4 characters..." required>
																		<i class="icon-user"></i>
																		<div
																			ng-show="submitted && partnerDetailForm.name.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.name.$error.required">Please
																				enter the name </span>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.phone.$invalid }">
																	<label class="control-label">Phone no.</label>
																	<div class="append-icon">
																		<input type="number" name="phone" class="form-control"
																			ng-model="space.phone"
																			placeholder="Enter your phone no..." required>
																		<div
																			ng-show="submitted && partnerDetailForm.phone.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.phone.$error.required">Please
																				enter the phone number </span>
																		</div>
																	</div>
																</div>
															</div>
														</div>													
														<div class="row">
															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.address1.$invalid }">
																	<label class="control-label">Address line1</label>
																	<div class="append-icon">
																		<input type="text" name="address1"
																			class="form-control" ng-model="space.address1"
																			placeholder="Enter your address1..." required>
																		<div
																			ng-show="submitted && partnerDetailForm.address1.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.address1.$error.required">Please
																				enter the address1 </span>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.address2.$invalid }">
																	<label class="control-label">Address line2</label>
																	<div class="append-icon">
																		<input type="text" name="address2"
																			class="form-control" ng-model="space.address2"
																			placeholder="Enter your address2..." required>
																		<div
																			ng-show="submitted && partnerDetailForm.address2.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.address2.$error.required">Please
																				enter the address2 </span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.locality.$invalid }">
																	<label class="control-label">Locality</label>
																	<div class="append-icon">
																		<input type="text" name="locality"
																			class="form-control" ng-model="space.locality"
																			placeholder="Enter your locality..." required>
																		<div
																			ng-show="submitted && partnerDetailForm.locality.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.locality.$error.required">Please
																				enter the locality </span>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.city.$invalid }">
																	<label class="control-label">City</label>
																	<div class="append-icon">
																		<input type="text" name="city" class="form-control"
																			ng-model="space.city"
																			placeholder="Enter your city..." required>
																		<div
																			ng-show="submitted && partnerDetailForm.city.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.city.$error.required">Please
																				enter the city </span>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="row">
															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.state.$invalid }">
																	<label class="control-label">State</label>
																	<div class="append-icon">
																		<input type="text" name="state" class="form-control"
																			ng-model="space.state"
																			placeholder="Enter your state..." required>
																		<div
																			ng-show="submitted && partnerDetailForm.state.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.state.$error.required">Please
																				enter the state </span>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-sm-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : submitted && partnerDetailForm.country.$invalid }">
																	<label class="control-label">Country</label>
																	<div class="append-icon">
																		<input type="text" name="country" class="form-control"
																			ng-model="space.country"
																			placeholder="Enter your country..." required>
																		<div
																			ng-show="submitted && partnerDetailForm.country.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.country.$error.required">Please
																				enter the country </span>
																		</div>
																	</div>
																</div>
															</div>

														</div>

														<div class="row">
															<div class="col-sm-6">
																<div class="form-group" ng-class="{ 'has-error' : submitted && partnerDetailForm.postalCode.$invalid }">
																	<label class="control-label">Pincode</label>
																	<div class="append-icon">
																		<input type="text" name="postalCode"
																			class="form-control" ng-model="space.postal_code"
																			placeholder="Enter your postal code..." required>
																			<div
																			ng-show="submitted && partnerDetailForm.postalCode.$invalid">
																			<span class="err-msg errorText validaion-color"
																				ng-show="partnerDetailForm.country.$error.required">Please
																				enter the pincode </span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6">
																<div class="form-group">
																	<label class="control-label">Image</label>
																	<div class="btn btn-default append-icon"
																		ngf-select="uploadImage($files)"
																		accept="image/png, image/jpeg"
																		data-ng-disabled="counter>=5">Upload</div>
																</div>
															</div>
														</div>

														<div data-ng-if="space.images && space.images.length>0">
															<div class="row mt10" ng-repeat="image in space.images">

																<div class="col-sm-2">
																	<img class="image-border img-responsive img150" src="{{image.tempUrl}}"
																		alt="uploaded image">

																</div>
																<div class="col-sm-4">

																	<input type="text" name="name"
																		data-ng-model="image.name" class=" form-control"
																		placeholder="Image Name">
																	<textarea name="description" rows="2" cols="19"
																		data-ng-model="image.description"
																		class="mt10 form-control"
																		placeholder="Image Description"></textarea>
																</div>
																<div class="col-sm-1">
																	<div class="image-text-delete">
																		<a href=""
																			data-ng-click="removeImage($index,partnerDetailForm,space);">
																			<i class="fa fa-times"></i>
																		</a>

																	</div>

																</div>
															</div>
														</div>

														<div data-ng-include="'/space/views/space_team.html'"></div>

													</div>

													<div class="row col-md-12">
														<div class="text-center  m-t-20">
															<a href="" id="next1" data-toggle="tab"
																data-ng-hide="addMore" class="awe-btn awe-default"
																data-ng-click="cancel()">Cancel</a> <a href=""
																id="next1" data-toggle="tab" class="awe-btn arrow-right"
																data-ng-hide="addMore"
																data-ng-click="create(partnerDetailForm)">Submit</a> <a
																href="" id="next1" data-toggle="tab"
																data-ng-show="addMore"
																class="awe-btn awe-default pull-right"
																data-ng-click="enableAddMore()">Additional Details</a>
														</div>
													</div>

												</form>
											</div>
										</div>
										<!-- Add Room -->
									</div>

								</div>
							</div>

							<div class="row" ng-show="enableAddMoreForm">
								<form role="form" class="form-validation"
									name="partnerMoreDetailForm" id="partnerMoreDetailForm">
									<div class="col-lg-12 portlets">
										<div class="panel panel-default no-bd">
											<div class="panel-body bg-white">
												<div class="row">
													<div class="col-md-12 col-sm-12 col-xs-12">

														<div class="row">
															<div class="col-sm-12">
																<div class="col-sm-12">
																	<h2>Amenities</h2>
																<div class="col-sm-3"
																		ng-repeat="amenity in space.amenities">
																		<label>{{amenity.name}}</label><br> <input
																			data-ng-click="toggleAmenityApplicable(amenity)"
																			name='amenity{{$index}}' id='amenity{{$index}}'
																			type="checkbox" class="not-show wdth-meetngdtls"
																			ng-model="amenity.isApplicable" /><span>Is Applicable</span><br>
																		<input ng-if="!amenity.isStatus"
																			data-ng-click="toggleAmenityChargeable(amenity);"
																			name='isChargeable{{$index}}'
																			id='isChargeable{{$index}}' type="checkbox"
																			class="not-show wdth-meetngdtls"
																			ng-model="amenity.isChargeable" /><span ng-if="!amenity.isStatus"> Is Chargeable</span>
																			<div ng-show="amenity.isChargeable" ng-if="!amenity.isStatus">
																			<div>
																		<label>Price:</label>
																		<input type="number" name="price"
																			class="form-control" ng-model="amenity.price"
																			placeholder="Enter the price"/>
																	 
																	</div>
																	</div>
																		</div>
																

																	<div class="col-sm-3"
																		ng-show="space.amenities.length === 0">No
																		Amenities available for the Space type</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-12 portlets">
										<div class="panel panel-default no-bd">
											<div class="panel-body bg-white">
												<div class="row">
													<!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
														<div data-ng-include="'/space/views/space_hoildays.html'">
														<!-- </div> -->
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-12 portlets">
										<div class="panel panel-default no-bd">
											<div class="panel-body bg-white">
												<div class="row">
													<div class="col-md-12 col-sm-12 col-xs-12">
														<div class="row">
															<div class="col-sm-12 col-lg-12">
																<div class="col-sm-12 col-lg-12">
																	<div class="col-sm-12 col-lg-12">
																		<h2>Weekly Timing</h2>
																		<table
																			class="table table-striped mb30 table table-bordered mb30">
																			<thead>
																				<tr>
																					<td>Day</td>
																					<td>Start Time</td>
																					<td>End Time</td>
																					<td>24 hours</td>
																					<td>Is closed</td>
																				</tr>

																			</thead>
																			<tbody>
																				<tr ng-repeat="hoursObj in space.officeHours">
																					<td align="center">{{hoursObj.day}}</td>
																					<td align="center"><uib-timepicker
																							ng-model="hoursObj.startTime"
																							ng-change="changed(hoursObj.startTime, hoursObj.endTime, $index)"
																							hour-step="hstep" minute-step="mstep"
																							show-meridian="ismeridian"
																							ng-disabled="hoursObj.isAllday || hoursObj.isClosed"></uib-timepicker></td>
																					<td align="center"><uib-timepicker
																							ng-model="hoursObj.endTime"
																							ng-change="changed(hoursObj.startTime, hoursObj.endTime, $index)"
																							hour-step="hstep" minute-step="mstep"
																							show-meridian="ismeridian"
																							ng-disabled="hoursObj.isAllday || hoursObj.isClosed"></uib-timepicker>
																						<p ng-show="err{{$index}}" class="error-msg">End
																							time must be greater than start time</p></td>
																					<td align="center"><input
																						name='isAllDay{{$index}}' id='isAllDay{{$index}}'
																						type="checkbox" ng-model="hoursObj.isAllday"
																						ng-change="setFullDay(hoursObj); toggleAllDay(hoursObj);" /></td>
																					<td align="center"><input
																						name='isClosed{{$index}}' id='isClosed{{$index}}'
																						type="checkbox" ng-model="hoursObj.isClosed"
																						ng-change="setClosedDaySpace(hoursObj); toggleClosed(hoursObj);" /></td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>

													</div>

													<div class="row col-md-12">
														<div class="text-center  m-t-20">
															<a href="" id="next1" data-toggle="tab"
																class="awe-btn awe-default" data-ng-click="cancel()">Cancel</a>
															<a href="" id="next1" data-toggle="tab"
																class="awe-btn arrow-right"
																data-ng-click="update(partnerDetailForm, partnerMoreDetailForm)">Submit</a>
														</div>
													</div>

												</div>
											</div>
											<!-- Add Room -->
										</div>

									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
				<!-- End Tabs Content -->
			</div>
			<!-- End Banner Content -->
		</div>
	</div>
</section>
<!--End Banner-->
<script type="text/javascript" src="/system/assets/js/plugins.js"></script>