<section data-ng-controller="SpaceController"
	data-ng-init="teamRoles();loadSpaceType(); loadPartners(); isSpaceDefined();">
	<div>
		<div class="col-lg-12 portlets">
			<div class="panel" style="padding: 15px;">
				<h3>Team</h3>
			</div>
			<div class="col-sm-12">
				<form role="form" class="form-validation" name="teamForm"
					id="teamForm">
					<div class="row" ng-repeat="team in space.teams">
						<div class="">
							<div class="col-sm-3">
								<div class="form-group" ng-class="{ 'has-error' : submitted && teamForm.first_name.$invalid }">
									<label class="control-label">Name</label>
									<div class="append-icon">
										<input type="text" name="first_name" class="form-control"
											minlength="4" ng-model="team.first_name" placeholder="Name"
											required> <i class="icon-user"></i>
									</div>
									<div ng-repeat="err in error.data">
										<div class="errRed" ng-if="err.param=='first_name'">{{err.msg}}</div>
									</div>
									<div ng-show="submitted && teamForm.first_name.$invalid">
										 <span class="err-msg errorText validaion-color" ng-show="    teamForm.first_name.$error.required">Please enter the name </span>
								 </div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="col-sm-4">
								<div class="form-group" ng-class="{ 'has-error' : submitted && teamForm.email.$invalid }">
									<label class="control-label">Email</label>
									<div class="append-icon">
										<input type="text" name="email" class="form-control"
											minlength="4" ng-model="team.email" placeholder="email"
											required>
									</div>
									<div ng-repeat="err in error.data">
										<div class="errRed" ng-if="err.param=='email'">{{err.msg}}</div>
									</div>
									<div ng-show="submitted && teamForm.email.$invalid">
										 <span class="err-msg errorText validaion-color" ng-show="    teamForm.email.$error.required">Please enter the name </span>
								 </div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="col-sm-3">
								<div class="form-group">
									<label class="control-label">Role</label> 
									<div class="append-icon">
										<!-- <select ng-model="team.role" class="col-md-12 branchwidth selectRole" name="role">
											<option value="">Select</option>
											<option ng-repeat="role in teamRoles" value="{{role._id}}">{{role.name}}</option>
										</select> -->	
										<select id="select-search-hide"
																			class="custom_dropdown" data-placeholder="Choose One"
																			name="role" ng-model="team.role._id" 
																			ng-options="role._id as role.name for role in teamRoles"
																			ng-selected="{{role._id == team.role._id}}">
																		</select>
																	</div>

									</div>
								<!-- <a data-ng-click="removeTeamMember($index)">remove</a> -->
								<div ng-show="submitted && teamForm.role.$invalid">
										 <span class="err-msg errorText validaion-color" ng-show="    teamForm.role.$error.required">Please select the role </span>
								 </div>
							</div>
						</div>

						<div class="" ng-hide="space.teams.length == 1">
							<div class="col-sm-2">
								<div class="image-text-delete">
									<a data-ng-click="removeTeamMember($index)"
										title="Delete this team"> <i class="fa fa-times"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-11">
							<button type="button" class="awe-btn awe-default"
								ng-click="addTeamMember()">Add Team Member</button>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>