<section class="partnerinfo mydetails"
	data-ng-controller="SpaceController" data-ng-init="find()">
	<div class="container-fluid">
		<!-- Banner Content -->
		<div class="banner-cn">

			<!-- Tabs Content -->
			<div class="tab-content" style="background: transparent;">
				<div class="row">
					<div data-ng-include="'/superAdmin/views/adminLeftPanel.html'"></div>
					<div class="col-sm-9 col-lg-10 mydetailsnav">
						<div class="page-content page-thin dashboard-content col-sm-12 col-lg-12 no-left-pad">

							<div class="row">
								<div class="col-sm-12 col-lg-12">
									<div
										class="col-sm-12 panel-header pull-left panel-controls no-padding">
										<!-- <section class="breakcrumb-sc pull-left">
											<ul class="breadcrumb arrow">
												<li><a href="admin-dashboard.html"><i
														class="fa fa-home"></i></a></li>
												<li>Space</li>
											</ul>
										</section> -->
										<section class="pull-right">
											<a ng-click="addSpace()"
												class="awe-btn arrow-right" href="">Add
												Space
											</a>

										</section>
										<div class="row">
											<div class="col-sm-12 col-lg-12">
												<div data-ng-include="'/system/views/alert.html'"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-lg-12 portlets">
									<div class="panel" style="padding: 15px;">
										<div class="panel-content pagination2">
											<table datatable="ng"  class="table table-bordered row-border hover booking-table" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
												<thead>
													<tr>
													    <th class="text-center">ID</th>
														<th class="text-center">Name</th>
														<th class="text-center">Locality</th>
														<th class="text-center">City</th>
														<th class="text-center">Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr data-ng-repeat="space in spaces">
													    <td class="text-center">{{space._id}}</td> 
														<td class="text-center">{{space.name}}</td>
														<td class="text-center">{{space.locality}}</td>
														<td class="text-center">{{space.city}}</td>

														 <td class="text-center">
															<a ng-click="edit(space)" title="Edit this space" class="editIcon">
																<i class="fa fa-pencil-square-o"></i></a>
															<a ng-click="delete(space)" title="Delete this space" class="clred">
																<i class="fa fa-trash-o"></i></a> 
															<a ng-click="spaceaddroom(space)" title="View detail" class="clred">
																<i class="fa fa-eye"></i></a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Tabs Content -->

		</div>
		<!-- End Banner Content -->

	</div>

</section>
