<section data-ng-controller="incidentController" ng-init="getCompanyDetails()">
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet light bordered clearfix">
                <div class="portlet-title">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group clearfix">
                                <div class="col-md-8 col-md-offset-2 ">
                                 <label class="control-label">
                                            Reset URL:
                                        </label>
                                    <div class="input-group">
                                       
                                        <input class="form-control form-control-60" readonly="" ng-model="url" placeholder="" type="text"/>
                                        <span class="incident input-group-addon">
                                            <a class="font-red f28" ng-click="getTokenURL(company.token)">
                                                <i class="fa fa-gear">
                                                </i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <div class="col-md-2">
                            <input class="form-control" ng-model="tableFilter" placeholder="Search.." type="text">
                            </input>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-condensed table-bordered table-striped" ng-table="listincidents">
                            <tr ng-repeat="row in $data">
                                <td data-title="'Incident Type'" sortable="'name'">
                                    {{row.name}}
                                </td>
                                <td data-title="'Description'" sortable="'description'">
                                    {{row.description}}
                                </td>
                                <td data-title="'Security Task'" sortable="'description'">
                                    <a ng-click="redirectSecurityTask(row.securitytask)">
                                        {{row.securitytask.task_name}}
                                    </a>
                                </td>
                            </tr>
                            <tr data-ng-show="!listincidents.settings().dataset.length">
                                <td colspan="11">
                                    No incident matched your filter condition.
                                </td>
                            </tr>
                        </table>
                        <div data-ng-show="!incidents.length>0">
                            <label>
                                No incidents Available
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>