<section data-ng-controller="DocumentsController" data-ng-init="findAll();">
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet light bordered clearfix">
                <div class="portlet-title">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-md-2">
                                    <input class="form-control" placeholder="Search.." type="text" ng-model="docCategoryTableFilter">
                                </div>
                                <div class="col-xs-6 btn-group pull-right">
                                    <button class="btn blue  pull-right" data-ng-click="addDocumentCategory();" id="sample_editable_1_new">
                                        New Document Category
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="col-sm-12 ">
                        <div class="table-container scrollx">
                            <table ng-table="docCategoryTable" class="table table-condensed table-bordered table-striped" data-ng-show="docCategoryArray.length > 0">
                                <tr ng-repeat="docCategory in $data" data-ng-show="$data.length > 0">
                                    <td data-title="'Name'" sortable="'name'">{{docCategory.name}}</td>
                                    <td data-title="'Description'" sortable="'description'">{{docCategory.description}}</td>
                                    <td data-title="'Actions'" class="col-sm-1 col-half">
                                        <div class="btn-group">
                                            <a class="btn blue" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-wrench"></i> <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;" data-ng-click="editDocCategory(docCategory);">
                                                        <i class="fa fa-trash-o"></i> Edit </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" data-ng-click="deleteDocCategory(docCategory);">
                                                        <i class="fa fa-times"></i> Delete </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr data-ng-show="!$data.length">
                                    <td colspan="11">No Document Category matched your filter condition.</td>
                                </tr>
                            </table>
                            <div data-ng-show="!docCategoryArray.length>0">
                                <label>No Document Category Available</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
