<section data-ng-controller="CameraController" data-ng-init="findAll();">
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet light bordered clearfix">
                <div data-ng-include = "'/assets/views/cameraTabs.html'"></div>
				<div class="col-sm-12">
					<div class="portlet-title">
						<div class="row">
							<div class="form-group">
								<div class="col-md-2">
									<input class="form-control" placeholder="Search.." type="text" ng-model="tableFilter">
								</div>
								<div class="col-xs-6 btn-group pull-right">
									<button class="btn blue  pull-right" data-ng-click="addCamera();">New Camera System<i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="portlet-body scrollx">
					<div class="col-sm-12">
						<table ng-table="cameraTable" class="table table-condensed table-bordered table-striped"  data-ng-show="cameraArray.length > 0">
							<tr ng-repeat="camera in $data">
								<td data-title="'Provider'" sortable="'camera_provider'">{{camera.camera_provider}}</td>
								<td data-title="'Model'" sortable="'model'">{{camera.model}}</td>
								<td data-title="'Name'" sortable="'name'">{{camera.name}}</td>
								<td data-title="'Service Provider'" sortable="'service_provider'">{{camera.service_provider}}</td>
								<td data-title="'Resolution'" sortable="'resolution'">{{camera.resolution}}</td>
								<!-- <td data-title="'Active'" sortable="'active'">{{camera.active}}</td> -->
								<td data-title="'Actions'" class="col-sm-1 col-half">
					    			<div class="btn-group">
					        			<a class="btn blue" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
					            			<i class="fa fa-wrench"></i> <i class="fa fa-angle-down"></i>
					        			</a>
					        			<ul class="dropdown-menu pull-right">
					            			<li>
					                			<a data-ng-click="editCamera(camera);">
					                    			<i class="fa fa-pencil-square-o"></i>Edit
					                			</a>
					            			</li>
					            			<!-- Will be implemented later -->
					            			<!-- <li data-ng-if="camera.active">
					                			<a data-ng-click="softDelete(camera);">
					                    			<i class="fa fa-times"></i>Deactivate
					                			</a>
					            			</li>
					            			<li data-ng-if="!camera.active">
					                			<a data-ng-click="softDelete(camera);">
					                    			<i class="fa fa-times"></i>Activate
					                			</a>
					            			</li> -->
					                		<li>
					                    		<a data-ng-click="deleteCamera(camera);">
					                        		<i class="fa fa-times"></i>Delete
					                    		</a>
					                		</li>
					            		</ul>
					        		</div>
								</td>
							</tr>
							<tr data-ng-show="!$data.length">
								<td colspan = "11">No Camera system matched your filter condition.</td>
							</tr>
						</table>
						<div data-ng-show="!cameraArray.length>0">
							<label>No Camera System Available</label>
						</div>
					</div>
				</div>
        	</div>
    	</div>
    </div>
</section>