<section data-ng-controller="CourseController" data-ng-init="list();">
	<div ng-include="'/system/views/breadcrum.html'"></div>
	<div data-ng-include="'/system/views/alert.html'"></div>
	<div class="col-xs-12 social-group-header">
		<h3 class="pull-left ">Course</h3>
		<button class="btn btn-info pull-right "
			data-ng-click="newCourse()" ng-if="writePermission">Create Course</button>
	</div>

	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th class="text-center">Name</th>
				<th class="text-center">Description</th>
				<th class="text-center">Delivery Method</th>
				<th class="text-center">Online Mentor Support</th>
				<th class="text-center">Project Based Learning</th>
				<th class="text-center">Counselling</th>
				<th class="text-center">Cost Type</th>
				<th class="text-center">Qualifications</th>
				<th class="text-center">Start Date</th>
				<th class="text-center">Banner</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="course in collection" class="" ng-class-odd="'odd'" ng-class-even="'even'" data-ng-show="collection.length > 0">
				<td>{{course.name}}</td>
				<td>{{course.description | limitTo: 20}}...</td>
				<td>{{course.delivery_method}}</td>
				<td>{{course.online_mentor_support}}</td>
				<td>{{course.project_based_learning}}</td>
				<td>{{course.counselling}}</td>
				<td>{{course.costType}}</td>
				<td>{{course.qualification}}</td>
				<td>{{course.course_startDate | date:'dd-MMM-yyyy'}}</td>
				<td class="projectimagetd"><img src="{{course.course_picture}}" width="100%" height="112px"></td>
				<td><a class="" data-ng-click="editCourse(COURSE.URL_PATH.ADMIN_COURSE_EDIT,course._id)" ng-if="updatePermission">
						<i class="fa fa-pencil-square-o tooltip-right" data-toggle="tooltip" data-placement="bottom" data-tooltip="Edit"></i>
					</a>  
					<a ng-click="modalDeletePopup(course)" class="linksGap" ng-if="deletePermission">
						<i class="fa fa-minus-circle" data-toggle="tooltip" data-placement="bottom" data-tooltip="Delete"></i>
					</a>
					<a  href="" class="linksGap"  data-ng-click="batchList(COURSE.URL_PATH.ADMIN_BATCH_LIST,course)">
                    <i class="fa fa-certificate" data-tooltip="Batches"></i></a>
					<a class="" href="/admin/course/course-management">
						<i class="fa fa-bars" data-tooltip="Course Management"></i>
					</a>
					<a class="" href="/admin/course/curriculum">
						<i class="fa fa-cc" data-tooltip="Curriculum"></i>
					</a>
					<a class="btn" href="/curriculum/course/{{course._id}}/topic">Topic</a>
				</td>
			</tr>
			<tr data-ng-show="!collection.length> 0">
				<td colspan="10">No Course available</td>
			</tr>
		</tbody>
	</table>
	<div class="paginate usr">
		<div data-ng-include="'system/views/paginationFilter.html'"></div>
	</div>
	<div ng-include="'/system/views/delete-popup.html'"></div>
</section>