<section data-ng-controller="CourseController">
<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><i class="fa fa-home link-pointer" data-ng-click="redirectdashboard()"></i></li>
			<li><a href="/admin/course">Course</a></li>
			<li><a href="/admin/course/curriculum">Curriculum</a></li>
			<li>Sessions</li>
			<li></li>
		</ol>
	</div>
	<div class="col-xs-12 social-group-header">
		<h3 class="pull-left ">Session</h3>
		<button class="btn btn-info pull-right "
			data-ng-click="newSession()">Create Session</button>
	</div>
<div class="col-md-12">
<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>Session</th>
							<th>Duration</th>
							<th>Hours/day</th>
							<th>Start Date</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody>
						<tr class="">
							<td>Session 1(HTML)</td>
							<td>30 Days</td>
							<td>3hrs</td>
							<td>15th December 2015</td>
							<td><a class="btn" href="/admin/course/curriculum/edit">
					<i class="fa fa-pencil-square-o"></i></a>  
					<a class="btn" href="/admin/course/curriculum/session/topic">
					<i class="fa fa-bars"></i></a>
				</td>
						</tr>
					</tbody>
				</table>
				</div>
</section>