<section data-ng-controller="HolidayController" data-ng-init="list();">
	<div data-ng-include="'/system/views/alert.html'"></div>
	<div ng-include="'/system/views/breadcrum.html'"></div>
	<h1 class="col-md-12 row pull-left">Holiday</h1>
	<div class="col-md-6" ng-include="'/course/views/calendar.html'"></div>


	<div class="pull-right">
		<a class="btn btn-info" ng-if="writePermission"
			data-ng-click="newHoliday()"> New Holiday</a>
	</div>
	<div class="col-md-6 row pull-right holitop">
		<table class="table table-bordered">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Start_date</th>
				<th>End_date</th>
				<th>Action</th>
			</tr>
			<tr data-ng-repeat="holiday in collection">
				<td>{{holiday.name}}</td>
				<td>{{holiday.description | limitTo: 10}}</td>
				<td>{{holiday.start_date | date:'dd-MMM-yyyy'}}</td>
				<td>{{holiday.end_date | date:'dd-MMM-yyyy'}}</td>
				<td><a href="" class="linksGap" ng-if="updatePermission"
					data-ng-click="editholiday(COURSE.URL_PATH.ADMIN_HOLIDAY_EDIT,holiday._id)">
						<i class="fa fa-pencil-square-o tooltip-right"
						data-toggle="tooltip" data-placement="bottom" data-tooltip="Edit"></i>
				</a> <a data-ng-click="modalDeletePopup(holiday)" class="linksGap"
					ng-if="deletePermission"> <i
						class="fa fa-minus-circle tooltip-right" data-toggle="tooltip"
						data-placement="bottom" data-tooltip="Delete"></i></a></td>
			</tr>
			<tr data-ng-show="!collection.length> 0">
				<td colspan="8"><h5>No holiday available</h5></td>
			</tr>
		</table>
	</div>

	<div ng-include="'/system/views/delete-popup.html'"></div>
</section>
