<section data-ng-controller="CourseController" data-ng-init="setSkill(); loadSkill(); editCourseBreadcrumb(); findOne(); loadFranchise();">
<div ng-include="'/system/views/breadcrum.html'"></div>
	<div class="col-xs-12 mb65 row">
		<form name="courseForm" class="form-horizontal col-md-12" data-ng-submit="update(courseForm.$valid)" novalidate>
			<div class="form-group">
				<label mean-token="'edit-course_type'" class="col-md-3">{{ 'course.courses.COURSE_TYPE' | translate }} </label>
					<div class="col-md-9">
						<label class="radio-inline mr150"><input type="radio" name="course_type" data-ng-model="course.course_type" value="CodersTrust Course" ng-checked="true">{{ 'course.courses.CODERSTRUST' | translate }}</label>
						<label class="radio-inline mr150"><input type="radio" name="course_type" data-ng-model="course.course_type" value="Franchise Course">{{ 'course.courses.FRANCHISE' | translate }}</label>
						<label class="radio-inline mr150"><input type="radio" name="course_type" data-ng-model="course.course_type" value="Third Party Course">{{ 'course.courses.3RDPARTY' | translate }}</label>
					</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : submitted && courseForm.name.$invalid }">
				<label mean-token="'edit-name'" class="col-md-3">{{ 'common.NAME' | translate }}</label>
				<div class="col-md-9">
					<input name="name" type="text" class="form-control err-msg"
						data-ng-model="course.name" id="name" placeholder="{{ 'common.NAME' | translate }}" required>
					<div class="errorRed" ng-repeat="err in error.data" ng-if="err.param =='name'">{{err.msg}}</div>
					<div ng-show="submitted && courseForm.name.$invalid">
						<span class="err-msg red" ng-show="courseForm.name.$error.required">{{ 'common.error_messages.NAME' | translate }} </span>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error' : submitted && courseForm.description.$invalid }">
				<label mean-token="'edit-description'" class="col-md-3">{{ 'common.DESCRIPTION' | translate }}</label>
				<div class="col-md-9">
					<textarea name="description" data-ng-model="course.description" id="description" cols="30" rows="5" placeholder="{{ 'common.DESCRIPTION' | translate }}" class="form-control err-msg" required></textarea>
					<div ng-show="submitted && courseForm.description.$invalid">
						<span class="err-msg red" ng-show="courseForm.description.$error.required">{{ 'common.error_messages.DESCRIPTION' | translate }} </span>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : submitted && courseForm.qualification.$invalid }">
				<label mean-token="'edit-qualification'"
					class="col-md-3">{{ 'course.courses.QUALIFICATION' | translate }}</label>
				<div class="col-md-9">
					<input name="qualification" type="text" class="form-control err-msg"
						data-ng-model="course.qualification"
						placeholder="{{ 'course.courses.QUALIFICATION' | translate }}" required>
						<div ng-show="submitted && courseForm.qualification.$invalid">
						<span class="err-msg red" ng-show="courseForm.qualification.$error.required">{{ 'course.error_messages.QUALIFICATION' | translate }}</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label mean-token="'edit-delivery_method'"
					class="col-md-3">{{ 'course.courses.DELIVERY_METHOD' | translate }}</label>
				<div class="col-md-9">
					<label class="radio-inline"><input type="radio" name="delivery_method" data-ng-model="course.delivery_method" value="Online" ng-checked="true">{{ 'mentor.project.ONLINE' | translate }}</label>
				    <label class="radio-inline"><input type="radio" name="delivery_method" data-ng-model="course.delivery_method" value="Offline">{{ 'mentor.project.OFFLINE' | translate }}</label>
				</div>
			</div>
			<div class="form-group">
				<label mean-token="'edit-online_mentor_support'"
					class="col-md-3">{{ 'course.courses.ONLINE_SUPPORT' | translate }}</label>
				<div class="col-md-9">
					<label class="radio-inline"><input type="radio" name="online_mentor_support" data-ng-model="course.online_mentor_support" value="No" ng-checked="true">{{ 'course.courses.NO' | translate }}</label>
				    <label class="radio-inline"><input type="radio" name="online_mentor_support" data-ng-model="course.online_mentor_support" value="Yes">{{ 'course.courses.YES' | translate }}</label>
				</div>
			</div>
			<div class="form-group">
				<label mean-token="'edit-project_based_learning'"
					class="col-md-3">{{ 'course.courses.PROJECT_LEARNING' | translate }}</label>
				<div class="col-md-9">
					<label class="radio-inline"><input type="radio" name="project_based_learning" data-ng-model="course.project_based_learning" value="No" ng-checked="true">{{ 'course.courses.NO' | translate }}</label>
				    <label class="radio-inline"><input type="radio" name="project_based_learning" data-ng-model="course.project_based_learning" value="Yes">{{ 'course.courses.YES' | translate }}</label>
				</div>
			</div>
			<div class="form-group">
				<label mean-token="'edit-counselling'"
					class="col-md-3">{{ 'course.courses.COUNCELLING' | translate }}</label>
				<div class="col-md-9">
					<label class="radio-inline"><input type="radio" name="counselling" data-ng-model="course.counselling" value="No" ng-checked="No">{{ 'course.courses.NO' | translate }}</label>
				    <label class="radio-inline"><input type="radio" name="counselling" data-ng-model="course.counselling" value="Yes">{{ 'course.courses.YES' | translate }}</label>
				</div>
			</div>
			<div class="form-group">
				<label mean-token="'edit-name'" class="col-md-3">{{ 'course.courses.COST_TYPE' | translate }}</label>
					<div class="col-md-2">
						<label class="radio-inline"><input type="radio" name="costType" data-ng-model="course.costType" value="Free" ng-checked="true">{{ 'course.courses.FREE' | translate }}</label>
						<label class="radio-inline"><input type="radio" name="coursetype" data-ng-model="course.costType" value="Paid">{{ 'course.courses.PAID' | translate }}</label>
				</div>
			</div><hr>
			<div class="form-group">
				<label class="col-md-3">{{ 'course.courses.SKILL_SET' | translate }}</label></br></br>
				<div class="row rolesA" ng-repeat="skill in course.courseSkill">
					<div class="col-md-4" ng-class="{ 'has-error' : submitted && courseForm.courseSkill.$invalid && skill.pre_requisite === undefined}">
						<label mean-token="'edit-courseSkill'" class="col-md-2">{{ 'course.courses.SKILL' | translate }}</label>
						<div class="col-md-10 input-skills skills-top">
      						<select name="courseSkill" data-ng-model="skill.skillName" class="form-control" required>
								<option value="" disabled selected>{{ 'common.PLEASE_SELECT' | translate }}</option>
								<option name="courseSkill" data-ng-repeat="skill in skills" value="{{skill._id}}" selected>{{skill.name}}</option>
							</select>
							<div ng-show="submitted && skill.skillName === undefined" class="col-md-12">
								<span class="err-msg red" ng-show="courseForm.courseSkill.$error.required">{{ 'course.error_messages.SKILL' | translate }}</span>
							</div>
						</div>
					</div>
					<div class="form-group col-md-4 pre-req" ng-class="{ 'has-error' : submitted && courseForm.pre_requisite.$invalid && skill.pre_requisite === undefined}">
						<label mean-token="'edit-pre_requisite'" class="col-md-6 row">{{ 'course.courses.PREREQISITE' | translate }}</label>
						<div class="col-md-6">
							<input name="pre_requisite" type="number" class="form-control" data-ng-model="skill.pre_requisite" id="pre_requisite" min="1" placeholder="{{ 'course.courses.PREREQISITE' | translate }}" required>
						</div>
						<div ng-show="submitted && skill.pre_requisite === undefined">
							<span class="err-msg red pull-left" ng-show="courseForm.pre_requisite.$error.required">{{ 'course.error_messages.PREREQISITE' | translate }}</span>
						</div>
					</div>
					<div class="form-group col-md-3 row" ng-class="{ 'has-error' : submitted && courseForm.target_value.$invalid && skill.pre_requisite === undefined && skill.pre_requisite > skill.target_value}">
						<label mean-token="'edit-target_value'" class="col-md-5 row">{{ 'course.courses.TARGET' | translate }}</label>
						<div class="col-md-7">
							<input name="target_value" type="number" class="form-control target" data-ng-model="skill.target_value" id="target_value" min="{{skill.pre_requisite + 1}}" placeholder="{{ 'course.courses.TARGET' | translate }}">
							<div class="errorRed target pull-left" ng-repeat="err in error.data | limitTo:1" ng-if="err.param =='target_value' && skill.target_value < skill.pre_requisite">{{err.msg}}</div>
						</div>
						<div ng-if="submitted && skill.target_value === undefined">
							<span class="err-msg red pull-left" ng-show="courseForm.target_value.$error.required">{{ 'course.error_messages.TARGET' | translate }}</span>
							<span class="err-msg red pull-left" ng-show="courseForm.target_value.$error.min || skill.pre_requisite > skill.target_value">{{ 'course.error_messages.TARGET_VALID' | translate }}</span>
						</div>
					</div>

					<div class="ulPagnate">
						<label>&nbsp;</label>
						<div class="col-md-2" ng-show="$last">
							<button class="pull-left" type="button" ng-click="removeSkillsSet(skill)" ng-show="$index>0">
								<i class="fa edu-action fa-minus-circle"></i>
							</button>
							<button type="button" ng-click="addSkillSet()">
								<i class="fa edu-action fa-plus-circle"></i>
							</button>
						</div>
						<div class="col-md-1">
							<button type="button" ng-click="removeSkillsSet(skill)" ng-hide="$last">
								<i class="fa edu-action fa-minus-circle"></i>
							</button>
						</div>
					</div>			
				</div>
			</div><hr>
			<div class="mainwrapper" data-ng-if="course.course_type == 'Franchise Course' || course.course_type == 'Third Party Course'">
				<div class="form-group" ng-class="{ 'has-error' : submitted && courseForm.companyName.$invalid }">
					<label mean-token="'edit-companyName'" class="col-md-3">{{ 'course.courses.COMPANY_NAME' | translate }}</label>
					<div class="col-md-9">
						<select name="companyName" data-ng-model="course.companyName" class="form-control" required>
							<option value="" disabled selected>{{ 'common.PLEASE_SELECT' | translate }}</option>
							<option	data-ng-repeat="franchise in franchises" value="{{franchise._id}}" selected>{{franchise.name}}</option>
						</select>
						<div ng-show="submitted && courseForm.companyName.$invalid">
							<span class="err-msg red" ng-show="courseForm.companyName.$error.required">{{ 'course.error_messages.COMPANY_NAME' | translate }}</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && courseForm.payment.$invalid }">
					<label mean-token="'edit-payment'" class="col-md-3">{{ 'course.courses.PAYMENT_URL' | translate }}</label>
					<div class="col-md-9">
						<input name="payment" type="url" class="form-control err-msg" data-ng-model="course.payment" placeholder="{{ 'profile.project.URL' | translate }}" pattern="https?://.+" required>
						<div style="color:red" ng-show="courseForm.payment.$error.pattern">{{ 'course.error_messages.PAYMENT_URL' | translate }}</div>
						<div ng-show="submitted && courseForm.payment.$invalid">
							<span class="err-msg red" ng-show="courseForm.payment.$error.required">{{ 'course.error_messages.PAYMENT_VALID' | translate }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<div class="col-md-6 row">
						<label mean-token="'create-course_picture'" class="col-md-3 pull-left row err-msg-url">{{ 'course.courses.BANNER' | translate }}</label>
						<div class="col-md-offset-3 banner">
							<div class="col-md-6">
								<div class="btn btn-info" ngf-select ngf-change="onCourseBannerSelect($files)" accept="image/png, image/jpeg">Upload</div>
								<span data-ng-if="uploadInProgress">Upload progress:{{uploadProgress }}</span>
							</div>
							<div class="col-md-6">
								<img src="{{course.course_picture}}" data-ng-if="course.course_picture" width="50px" height="50px" />
							</div>
						</div>
					</div>
					<div class="col-md-5 row">
						<div data-ng-include="'/system/views/alert.html'"></div>
					</div>
				</div>
				<div class="col-md-12">
					<div ng-show="submitted && !course.course_picture" class="col-md-9 pull-right">
	          			<span class="err-msg red"> {{ 'course.error_messages.BANNER' | translate }}</span>
	         		</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<div class="col-md-6 row">
						<label mean-token="'create-course_icon'" class="col-md-3 pull-left fetureAlign err-msg-url">{{ 'roles.feature.ICON' | translate }}</label>
						<div class="col-md-offset-3 banner">
							<div class="col-md-6">
								<div class="btn btn-info" ngf-select ngf-change="onCourseIconSelect($files)" accept="image/png, image/jpeg">Upload</div>
								<span data-ng-if="uploadInProgress">Upload progress:{{uploadProgress }}</span>
							</div>
							<div class="col-md-6">
								<img src="{{course.course_icon}}" data-ng-if="course.course_icon" width="50px" height="50px" />
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div ng-show="submitted && !course.course_icon" class="col-md-9 wor pull-right">
	          				<span class="err-msg red">{{ 'course.error_messages.ICON' | translate }}</span>
	         			</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<button mean-token="'create-submit'" type="submit"
						class="btn btn-info">Submit</button>
					<button type="button" class="btn btn-info"
						ng-click="cancelCourse()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</section>