<section data-ng-controller="BatchController" ng-init = 'createBatchBreadCrumbs(); branchesBasedOnCourse();'>
    <div data-ng-include="'/system/views/alert.html'">
    </div>
    <div ng-include="'/system/views/breadcrum.html'">
    </div>
    <div class="mainwrapper">
        <form name="batchForm" class="form-horizontal"  data-ng-submit="create(COURSE.URL_PATH.ADMIN_BATCH_LIST,batchForm.$valid)" novalidate>
            <div class="errorRed" ng-repeat="err in error.data" ng-if="err.param =='course'">
                {{err.msg}}
            </div>
            <div class="col-xs-12 padding-align">
                <div class="col-md-4 padding-align">
                    <h3 class="pull-left">
                        Batch
                    </h3>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">
                        Course: {{cobj.name}}
                    </h3>
                </div>
                <div class="col-md-4 pull-right mrg-tp22" ng-class="{ 'has-error' : submitted && batchForm.level.$invalid }">
                    <select name="level" ng-model="batch.branch" class="col-md-10 pull-right"  required>
                        <option value="">
                            Branches
                        </option>
                        <option ng-repeat="branch in branches" value="{{branch._id}}">
                            {{branch.branchName}}
                        </option>
                    </select>
                    <div ng-show="submitted &&batchForm.level.$error.required">
                        <span class="err-msg red">
                            Please select branch
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 padding-align">
                <label mean-token="'create-name'" class="col-md-3 padding-align">
                    Name
                </label>
                <div class="col-md-6">
                    <input name="name" type="text" class="form-control" data-ng-model="batch.batch_name" id="name" placeholder="Name" required/>
                    <div class="errorRed" ng-repeat="err in error.data" ng-if="err.param =='batch_name'">
                        {{err.msg}}
                    </div>
                    <div ng-show="submitted && batchForm.name.$invalid">
                        <span class="err-msg errorText red" ng-show="batchForm.name.$error.required">
                            Please enter  the Name
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 "
                ng-class="{ 'has-error' : submitted && batchForm.start_date.$invalid }">
                <label mean-token="'edit-start_date'" class="col-md-3 padding-align">
                    Start_date
                </label>
                <div class="col-md-6">
                    <input type="date" name="start_date"
                        data-ng-model="batch.start_date" id="start_date"
                        placeholder="Start_date" class="form-control"
                        ng-change='checkError(start_date)' required/>
                        <div class="errorRed" ng-repeat="err in error.data"
                            ng-if="err.param =='start_date'">
                            {{err.msg}}
                        </div>
                        <div ng-show="submitted && batchForm.start_date.$invalid">
                            <span class="err-msg errorText"
                                ng-show="batchForm.start_date.$error.required">
                                Please
                                enter the Start_date
                            </span>
                        </div>
                        <span class="err-msg errorText"
                            ng-show="Lesserstartvalue">
                            Start date should not be greater than current date.
                        </span>
                    </div>
                </div>
                <div class="mainwrapper">
                    <div clas= "col-md-2">
                        <h3 class="text-left">
                            Batch Timings
                        </h3>
                    </div>
                    <div class = "col-md-10 ">
                        <table class="table table-bordered padding-align" >
                            <thead>
                                <tr>
                                    <th>
                                        Mon
                                    </th>
                                    <th >
                                        Tue
                                    </th>
                                    <th class="col-md-2 ">
                                        Wed
                                    </th>
                                    <th >
                                        Thu
                                    </th>
                                    <th >
                                        Fri
                                    </th>
                                    <th >
                                        Sat
                                    </th>
                                    <th >
                                        Sun
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="anchorTag">
                                <tr>
                                    <td >
                                        <div class = 'brdr_top'  ng-repeat = 'batchtime in batch.batchSchedule.mon'>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.mon, $index)' ng-model="batchtime.startHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.mon, $index)' ng-model="batchtime.startMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.mon, $index)' ng-model="batchtime.endHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.mon, $index)' ng-model="batchtime.endMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                                <div ng-show="$last">
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.mon)" ng-show="$index>0" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                    <a data-ng-click="addbatchtimingsrow(batch.batchSchedule.mon)" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-plus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Add">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div >
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.mon)" ng-hide="$last" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="err-msg errorText"  ng-show="batch.batchSchedule.mon.dateErr">
                                                End time should greater than start time.
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class = 'brdr_top' ng-repeat = 'batchtime in batch.batchSchedule.tue'>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.tue, $index)' ng-model="batchtime.startHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.tue, $index)' ng-model="batchtime.startMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.tue, $index)' ng-model="batchtime.endHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.tue, $index)' ng-model="batchtime.endMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                                <div ng-show="$last">
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.tue)" ng-show="$index>0" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                    <a data-ng-click="addbatchtimingsrow(batch.batchSchedule.tue)" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-plus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Add">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div >
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.tue)" ng-hide="$last" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                             <div class="err-msg errorText"  ng-show="batch.batchSchedule.tue.dateErr">
                                                End time should greater than start time.
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class = 'brdr_top' ng-repeat = 'batchtime in batch.batchSchedule.wed'>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.wed, $index)' ng-model="batchtime.startHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.wed, $index)' ng-model="batchtime.startMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.wed, $index)' ng-model="batchtime.endHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.wed, $index)' ng-model="batchtime.endMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                                <div ng-show="$last">
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.wed)" ng-show="$index>0" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                    <a data-ng-click="addbatchtimingsrow(batch.batchSchedule.wed)" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-plus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Add">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div >
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.wed)" ng-hide="$last" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                             <div class="err-msg errorText"  ng-show="batch.batchSchedule.wed.dateErr">
                                                End time should greater than start time.
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class = 'brdr_top' ng-repeat = 'batchtime in batch.batchSchedule.thu'>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.thu, $index)' ng-model="batchtime.startHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins"  ng-change = 'formatTime(batch.batchSchedule.thu, $index)' ng-model="batchtime.startMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.thu, $index)' ng-model="batchtime.endHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.thu, $index)' ng-model="batchtime.endMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                                <div ng-show="$last">
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.thu)" ng-show="$index>0" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                    <a data-ng-click="addbatchtimingsrow(batch.batchSchedule.thu)" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-plus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Add">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div >
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.thu)" ng-hide="$last" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                             <div class="err-msg errorText"  ng-show="batch.batchSchedule.thu.dateErr">
                                                End time should greater than start time.
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class = 'brdr_top' ng-repeat = 'batchtime in batch.batchSchedule.fri'>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.fri, $index)' ng-model="batchtime.startHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.fri, $index)' ng-model="batchtime.startMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.fri, $index)' ng-model="batchtime.endHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.fri, $index)' ng-change = 'formatTime(batch.batchSchedule.fri, $index)' ng-model="batchtime.endMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                                <div ng-show="$last">
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.fri)" ng-show="$index>0" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                    <a data-ng-click="addbatchtimingsrow(batch.batchSchedule.fri)" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-plus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Add">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div >
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.fri)" ng-hide="$last" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                             <div class="err-msg errorText"  ng-show="batch.batchSchedule.fri.dateErr">
                                                End time should greater than start time.
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class = 'brdr_top' ng-repeat = 'batchtime in batch.batchSchedule.sat'>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.sat, $index)' ng-model="batchtime.startHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.sat, $index)' ng-model="batchtime.startMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.sat, $index)' ng-model="batchtime.endHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.sat, $index)' ng-model="batchtime.endMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                                <div ng-show="$last">
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.sat)" ng-show="$index>0" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                    <a data-ng-click="addbatchtimingsrow(batch.batchSchedule.sat)" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-plus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Add">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div >
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.sat)" ng-hide="$last" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                             <div class="err-msg errorText"  ng-show="batch.batchSchedule.sat.dateErr">
                                                End time should greater than start time.
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class = 'brdr_top' ng-repeat = 'batchtime in batch.batchSchedule.sun'>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.sun, $index)' ng-model="batchtime.startHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.sun, $index)' ng-model="batchtime.startMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <select ng-options="timeinhrs.option as timeinhrs.value for timeinhrs in timeinhrs" ng-change = 'formatTime(batch.batchSchedule.sun, $index)' ng-model="batchtime.endHH">
                                                        <option style="display:none" value="">
                                                            HH
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select ng-options="timeinmins.option as timeinmins.value for timeinmins in timeinmins" ng-change = 'formatTime(batch.batchSchedule.sun, $index)' ng-model="batchtime.endMM">
                                                        <option style="display:none" value="">
                                                            MM
                                                        </option>
                                                    </select>
                                                </div>
                                                <div ng-show="$last">
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.sun)" ng-show="$index>0" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                    <a data-ng-click="addbatchtimingsrow(batch.batchSchedule.sun)" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-plus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Add">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div >
                                                    <a data-ng-click="removebatchtimingsrow($index,batch.batchSchedule.sun)" ng-hide="$last" class="linksGap addtime_leftmrg">
                                                        <i class="fa fa-minus-circle link-pointer tooltip-right"  data-toggle="tooltip" data-placement="bottom" data-tooltip="Remove">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="err-msg errorText"  ng-show="batch.batchSchedule.sun.dateErr">
                                                End time should greater than start time.
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button mean-token="'create-submit'" type="submit" class="btn btn-info">
                                    Submit
                                </button>
                                <button type="button" class="btn btn-info" data-ng-Click="cancel(COURSE.URL_PATH.ADMIN_BATCH_LIST)">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
