<section data-ng-controller="AdminListCourseRequest" data-ng-init="list();">
<div data-ng-include="'/system/views/breadcrum.html'"></div>
   <div class="mainwrapper social-group-header">
        <h3 class="pull-left">Course Request</h3>
    </div>
     <table class="table table-bordered">
     <thead>
     <tr>
         <th class="text-center">Student Name</th>
         <th class="text-center">Course Name</th>
         <th class="text-center">Branch Name</th>
         <th class="text-center">User Status</th>
         <th class="text-center">Course Status</th>
         <th class="text-center">Actions</th>
     </tr>
     </thead>
      <tbody class="anchorTag"> 
     <tr data-ng-repeat="course_request in collection" class="" data-ng-class-odd="'odd'"  data-ng-class-even="'even'">
         <td>{{course_request.user.name}}</td>
         <td>{{course_request.course.name}}</td>
         <td>{{course_request.branch.branchName}}</td>
         <td>{{course_request.user_status}}</td>
         <td>{{course_request.course_status}}</td>
            <td width="10%" align="center">
                <div class="dropdown" uib-dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle btn btn-wide btn-default" uib-dropdown-toggle>
                        <i class="fa fa-arrow-circle-right"></i><span>Actions</span>
                    </a>
                    <ul role="menu" class="dropdown-menu dropdown-light animated fadeInUpShort ">
                         <li ng-if="readPermission">
                            <a class="menu-toggler" data-ng-click="editCourse(COURSE.PATH.COURSE_REQUEST_VIEW,course_request._id)" >
                                <i class="fa fa-eye"></i>
                                <span>View Info</span>
                            </a>
                        </li>
                        <li ng-if="updatePermission">
                            <a class="menu-toggler" href ="/course/courseRequest/{{course_request._id}}/details" >
                                <i class="fa fa-pencil-square-o"></i>
                                <span>Edit Course Request</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        <tr data-ng-hide="!collection || collection.length">
		<td colspan="10">No Course Request available</td>
	 </tr>
     </tbody>
</table>
  <div data-ng-show="!collection || collection.length" class="paginate usr">
        <div data-ng-include="'system/views/paginationFilter.html'"></div>
        <br>
    </div>
</section>
