<div data-ng-controller="CourseController">
<div class="row">
<div class="col-md-10">
<div class="table-responsive">
<table class="table table-bordered">
<thead>
<tr>
<td>Student Name</td>
<td>Course Name</td>
<td>Branch</td>
<td>Batch</td>
<td>Actions</td>
</tr>
</thead>
<tbody>
<tr>
<td>Sanjana</td>
<td>Basic Html</td>
<td>Jayanagar</td>
<td>1st Batch</td>
<td><button class="btn btn-info" value="Manage" data-ng-click="clicked()">Manage</button>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>