<div class="row course-top">
<div class="col-md-10">
<h2>Course Request Details</h2>
<div class="table-responsive">
<table class="table table-bordered">
<thead>
<tr>
<td>Student Name</td>
<td>Course Name</td>
<td>Branch</td>
<td>Requested Batch</td>
<td>Payment Type</td>
<td>Action</td>
</tr>
</thead>
<tbody> 
<tr>
<td>Sanjana</td>
<td>Basic Html</td>
<td>Jayanagar</td>
<td>1st Batch</td>
<td>Half Payment</td>
<td><button class="btn btn-info" value="Approve">Approve</button>
<button class="btn btn-info" value="Deny">Deny</button></td>
</tr>
<tr>
<td>Amrutha</td>
<td>Advanced Html</td>
<td>Malleshwaram</td>
<td>3rd Batch</td>
<td>Loan</td>
<td><button class="btn btn-info" value="Approve">Approve</button>
<button class="btn btn-info" value="Deny">Deny</button></td>
</tr>
<tr>
<td>Rakshith</td>
<td>Basic Java</td>
<td>Kormangala</td>
<td>2nd Batch</td>
<td>Installment</td>
<td><button class="btn btn-info" value="Approve">Approve</button>
<button class="btn btn-info" value="Deny">Deny</button></td>
</tr>
<tr>
<td>Sindhu</td>
<td>Advanced Java</td>
<td>Jayanagar</td>
<td>1st Batch</td>
<td>Full Payment</td>
<td><button class="btn btn-info" value="Approve">Approve</button>
<button class="btn btn-danger" value="Deny">Deny</button></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>