<section data-ng-controller="FranchiseeController"
	data-ng-init="findOne(); editBreadcrumb();">
	<div data-ng-include="'/system/views/breadcrum.html'"></div>
	<div class="mainwrapper">
		<h3 class="pull-left ">Franchise</h3>
	</div>
	<div class="mainwrapper">
		<form name="franchiseForm" class="form-horizontal formAlign"
			data-ng-submit="update(franchiseForm.$valid)" novalidate>

			<!-- Franchise Type -->

			<div class="form-group">
				<label class="col-md-2 pull-left">{{ 'course.franchise.FRANCHISE_TYPE' | translate }}</label>
				<div class = "col-md-6">
				<label class="radio-inline"><input type="radio" name="franchise_type" data-ng-model="franchise.franchise_type" value="Franchise" ng-checked="true">{{ 'course.franchise.FRANCHISE' | translate }}</label>
						<label class="radio-inline"><input type="radio" name="franchise_type" data-ng-model="franchise.franchise_type" value="Third Party Provider">{{ 'course.franchise.3RDPARTY' | translate }}</label>
				</div>
			</div>

			<!-- Franchise Name -->

			<div class="form-group"
				data-ng-class="{ 'has-error' : submitted && franchiseForm.name.$invalid }">
				<label class="col-md-2 pull-left">{{ 'common.NAME' | translate }}</label>
				<div class="col-md-6">
					<input name="name" type="text" class="form-control"
						data-ng-model="franchise.name" id="name" placeholder="{{ 'common.NAME' | translate }}"
						required>
					<div data-ng-show="error" class="errorRed "
						data-ng-repeat="err in error.data" data-ng-if="err.param =='name'">
						{{err.msg}}</div>
					<div data-ng-show="submitted && franchiseForm.name.$invalid">
						<span class="err-msg errorText red"
							data-ng-show="franchiseForm.name.$error.required"> {{ 'common.error_messages.NAME' | translate }}</span>
					</div>
				</div>
			</div>


			<!-- Web Site URL -->

			<div class="form-group"
				data-ng-class="{ 'has-error' : submitted && franchiseForm.url.$invalid }">
				<label class="col-md-2 pull-left">{{ 'course.franchise.WEBSITE_URL' | translate }}</label>
				<div class="col-md-6">
					<input name="url" type="url" class="form-control"
						data-ng-model="franchise.url" id="url"
						placeholder="{{ 'course.franchise.WEBSITE_URL' | translate }}" pattern="https?://.+" required>

					<div data-ng-show="error" class="errorRed "
						data-ng-repeat="err in error.data" data-ng-if="err.param =='url'">
						{{err.msg}}</div>

					<div data-ng-show="submitted && franchiseForm.url.$invalid">
						<span class="err-msg errorText red"
							data-ng-show="franchiseForm.url.$error.required"> {{ 'course.error_messages.WEBSITE_URL' | translate }} </span>
					</div>
					<div data-ng-show="submitted && franchiseForm.url.$invalid">
						<span class="err-msg errorText red"
							data-ng-show="franchiseForm.url.$error.pattern">{{ 'course.error_messages.WEBSITE_VALID' | translate }} </span>
					</div>
				</div>
			</div>

			<!-- Email -->

			<div class="form-group"
				data-ng-class="{ 'has-error' : submitted && franchiseForm.email.$invalid }">
				<label class="col-md-2 pull-left">{{ 'loctaions.branch.EMAIL' | translate }}</label>
				<div class="col-md-6">
					<input name="email" type="email" class="form-control"
						data-ng-model="franchise.email" id="email"
						placeholder="{{ 'loctaions.branch.EMAIL' | translate }}"
						pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
					<div data-ng-show="error" class="errorRed "
						data-ng-repeat="err in error.data"
						data-ng-if="err.param =='email'">{{err.msg}}</div>

					<div data-ng-show="submitted && franchiseForm.email.$invalid">
						<span class="err-msg errorText red"
							data-ng-show="franchiseForm.email.$error.required"> {{ 'loctaions.error_messages.EMAIL' | translate }} </span>
					</div>

					<div data-ng-show="submitted && franchiseForm.email.$invalid">
						<span class="err-msg errorText red"
							data-ng-show="franchiseForm.email.$error.pattern"> {{ 'loctaions.error_messages.VALID_EMAIL' | translate }}</span>
					</div>

				</div>
			</div>

			<!-- Contact Details -->


			<div class="form-group">
				<label class="col-md-2 pull-left">{{ 'course.franchise.CONTACT_DETAILS' | translate }}</label>
			</div>
			<div data-ng-repeat="contactDetail in franchise.contactDetails">

				<!-- Person Name -->

				<div class="form-group"
					data-ng-class="{ 'has-error' : submitted && franchiseForm.personName.$invalid }">
					<label class="col-md-2">{{ 'course.franchise.PERSON_NAME' | translate }}</label>
					<div class="col-md-2">
						<input name="personName" type="text" class="form-control"
							id="personName" placeholder="{{ 'course.franchise.PERSON_NAME' | translate }}"
							data-ng-model="contactDetail.personName" required>
						<div data-ng-show="submitted && franchiseForm.personName.$invalid">
							<span class="err-msg errorText red"
								data-ng-show="franchiseForm.personName.$error.required">
								{{ 'course.error_messages.PERSON_NAME' | translate }}</span>
						</div>
					</div>

					<!-- Designation -->

					<div class="form-group"
						data-ng-class="{ 'has-error' : submitted && franchiseForm.designation.$invalid }">
						<label class="col-md-2">{{ 'mentor.DESIGNATION' | translate }}</label>
						<div class="col-md-2">
							<input name="designation" type="text" class="form-control"
								id="designation" placeholder="{{ 'mentor.DESIGNATION' | translate }}"
								data-ng-model="contactDetail.designation" required>

							<div
								data-ng-show="submitted && franchiseForm.designation.$invalid">
								<span class="err-msg errorText red"
									data-ng-show="franchiseForm.designation.$error.required">
									{{ 'mentor.error_messages.DESIGNATION' | translate }}  </span>
							</div>
						</div>
					</div>
				</div>

				<!-- Primary Contact Number -->

				<div class="form-group"
					data-ng-class="{ 'has-error' : submitted && franchiseForm.phoneNumber.$invalid }">
					<label class="col-md-2">{{ 'course.franchise.PRIMARY_NUMBER' | translate }}</label>
					<div class="col-md-2">
						<input name="phoneNumber" type="tel" class="form-control"
							id="phoneNumber" placeholder="{{ 'loctaions.branch.PHONENUMBER' | translate }}"
							data-ng-model="contactDetail.phoneNumber" pattern= "[0-9]{10}" required>

						<div
							data-ng-show="submitted && franchiseForm.phoneNumber.$invalid">
							<span class="err-msg errorText red"
								data-ng-show="franchiseForm.phoneNumber.$error.required">
								{{ 'loctaions.error_messages.PHONENUMBER' | translate }} </span>
						</div>
						
						<div data-ng-show="submitted && franchiseForm.phoneNumber.$invalid">
						<span class="err-msg errorText red"
							data-ng-show="franchiseForm.phoneNumber.$error.pattern">{{ 'course.error_messages.PRIMARY_NUMBER' | translate }} </span>
					</div> 
					</div>

					<!-- Alternate Contact Number -->

					<div class="form-group"
						data-ng-class="{ 'has-error' : submitted && franchiseForm.mobileNumber.$invalid }">
						<label class="col-md-2">{{ 'course.franchise.ALTERNATE_NUMBER' | translate }}</label>
						<div class="col-md-2">
							<input name="mobileNumber" type="tel" class="form-control"
								id="mobileNumber" placeholder="{{ 'loctaions.branch.PHONENUMBER' | translate }}"
								data-ng-model="contactDetail.mobileNumber"pattern= "[0-9]{10}" required>

							<div
								data-ng-show="submitted && franchiseForm.mobileNumber.$invalid">
								<span class="err-msg errorText red"
									data-ng-show="franchiseForm.mobileNumber.$error.required">
								{{ 'loctaions.error_messages.PHONENUMBER' | translate }}</span>
							</div>
							<div data-ng-show="submitted && franchiseForm.mobileNumber.$invalid">
						    <span class="err-msg errorText red"
							data-ng-show="franchiseForm.mobileNumber.$error.pattern"> {{ 'course.error_messages.PRIMARY_NUMBER' | translate }}  </span>

						</div>
						</div>
						</div>
						</div>
						<!-- Add Email Id-->
						
						<div class="form-group"
						data-ng-class="{ 'has-error' : submitted && franchiseForm.mobileNumber.$invalid }">
						<label class="col-md-2">{{ 'course.franchise.EMAIL_ID' | translate }}</label>
						<div class="col-md-2">
							<input name="emailId" type="email" class="form-control"
								id="emailId" placeholder="{{ 'course.franchise.EMAIL_ID' | translate }}"
								data-ng-model="contactDetail.emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
							<div
								data-ng-show="submitted && franchiseForm.emailId.$invalid">
								<span class="err-msg errorText red"
									data-ng-show="franchiseForm.emailId.$error.required">
								{{ 'course.error_messages.EMAIL_ID' | translate }}</span>
							</div>
							
						<div data-ng-show="submitted && franchiseForm.emailId.$invalid">
						<span class="err-msg errorText red"
							data-ng-show="franchiseForm.emailId.$error.pattern">  {{ 'course.error_messages.VALID_EMAIL' | translate }} </span>
					</div> 

						</div>

						<!-- Add and Remove Contact Details -->

						<div class="col-md-2">
							<div data-ng-show="$last">
								<button type="button"
									data-ng-click="removeContactDetails(contactDetails)"
									data-ng-show="$index>0">

									<i class="fa edu-action fa-minus-circle"></i>
								</button>
								<button type="button" data-ng-click="addContactDetails()">
									<i class="fa edu-action fa-plus-circle"></i>
								</button>
							</div>
							
							<button type="button"
								data-ng-click="removeContactDetails(contactDetails)"
								data-ng-hide="$last">
								<i class="fa edu-action fa-minus-circle"></i>
							</button>
						
						</div>

					</div>
				
			</div>
			
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button mean-token="'edit-submit'" type="submit"
						class="btn btn-info">Update</button>
					<button type="button" class="btn btn-info"
						data-ng-click="cancelFranchise()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</section>