<section data-ng-controller="UserCourseController">
<div class="col-xs-12">
         <ol class="breadcrumb">
            <li><i class="fa fa-home link-pointer" data-ng-click="redirectdashboard()"></i></li>
        </ol>
 </div>
<div class="col-sm-12">
 <ul class="nav nav-tabs">
    <li><a href="/course/courseList">Available Courses</a></li>
    <li class="active"><a href="/mycourse/curriculum">MyCourses</a></li>
  </ul>
 </div>
 <div class="col-sm-12">
       <div class="col-xs-12 social-group-header">
       <h3 class="pull-left ">MyCourses</h3>
    </div>
    <div class="col-sm-12 mar-bt">
       <div class="row">
         <div class="col-sm-3 social-group-individual no-padding">
          <i class="fa fa-book user-font-course text-center"></i>
          <div class="col-sm-12 social-group-show-details">
         <h5 class="pull-left ">Front End</h5>
         </div>
         </div>
       </div>
    </div>
   </div>
<ul class="nav nav-tabs">
	<li><a href="/mycourse/curriculum">Curriculum</a></li>
	<li><a href="/course/coursematerials" data-toggle="tab">Course
			materials</a></li>
	<li><a href="/course/schedule">Schedule</a></li>
	<li><a href="/course/mentor">Mentor</a></li>
	<li class="active"><a href="/course/batchmates">Batchmates</a></li>
	<li><a href="/course/test">Test</a></li>
</ul>
<div class="row course-top1">
	<h3>Batchmates Details</h3>
	<div class="col-sm-12 job-border">
		<div class="">
			<ul class="col-sm-12">
				<li class="col-sm-4"><i class="fa fa-user user-font col-sm-4"></i>
					<div class="col-sm-8">
						<h4>Name</h4>
						<a href="">View Profile</a>
					</div></li>
				<li class="col-sm-4"><i class="fa fa-user user-font col-sm-4"></i>
					<div class="col-sm-8">
						<h4>Name</h4>
						<a href="">View Profile</a>
					</div></li>
				<li class="col-sm-4"><i class="fa fa-user user-font col-sm-4"></i>
					<div class="col-sm-8">
						<h4>Name</h4>
						<a href="">View Profile</a>
					</div></li>
			</ul>
			<ul class="col-sm-12">
				<li class="col-sm-4"><i class="fa fa-user user-font col-sm-4"></i>
					<div class="col-sm-8">
						<h4>Name</h4>
						<a href="">View Profile</a>
					</div></li>
				<li class="col-sm-4"><i class="fa fa-user user-font col-sm-4"></i>
					<div class="col-sm-8">
						<h4>Name</h4>
						<a href="">View Profile</a>
					</div></li>
				<li class="col-sm-4"><i class="fa fa-user user-font col-sm-4"></i>
					<div class="col-sm-8">
						<h4>Name</h4>
						<a href="">View Profile</a>
					</div></li>
			</ul>
		</div>
	</div>
</div>
</section>