<div class="row">
<div class="col-md-12">
		<ol class="breadcrumb">
	        <li><i class="fa fa-home link-pointer" data-ng-click="redirectdashboard()"></i></li>
	        <li><a href="/mentor/student">Students</a></li>
	        <li></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
            <div data-ng-include="'/staticpage/views/location_filternew.html'"></div>
            <h2>Requests Information</h2>
        </div>
 

<div class="col-xs-12">
		<hr/>
        <table class="table table-bordered">
            <thead>
                <tr> 
                    <th class="request">ID</th>
                    <th class="request">Student Name</th>
                    <th class="request">Date</th>                    
                    <th class="request">Course</th>
					<th class="request">Selected Date</th>
                    <th class="request">Selected Slot</th>
                    <th class="request">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>Amy</td>
                    <td class="request">2015-01-01 15:55:43</td>
                    <td>HTML</td>
               		<td class="request">2015-12-01 15:55:43</td>
                    <td class="request">10 AM-11 AM</td>
                   <td class="request">
                   <a href="#"><span><i class="fa fa-check-circle"></i></span></a>
                   &nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-times-circle"></i></a>
                   </td>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>John</td>
                    <td class="request">2015-01-01 12:55:43</td>
                    <td>PERL</td>
              		<td class="request">2015-12-01 15:55:43</td>
                    <td class="request">12 PM - 1 PM</td>
                    <td class="request">
                   <a href="#"><span><i class="fa fa-check-circle"></i></span></a>
                   &nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-times-circle"></i></a>
                   </td>
                </tr>
                <tr>
                    <td>12345</td>
                    <td>Mike</td>
                    <td class="request">2015-11-10 02:30:12</td>
                    <td>CGI</td>
               		<td class="request">2015-12-01 15:55:43</td>
                    <td class="request">3 PM - 4 PM</td>
                    <td class="request">
                   <a href="#"><span><i class="fa fa-check-circle"></i></span></a>
                   &nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-times-circle"></i></a>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>