<section data-ng-controller="CourseprojectController"
	data-ng-init="createCourseproject(); loadSkillList();">
	<div ng-include="'/system/views/breadcrum.html'"></div>
	<div class="mainwrapper social-group-header">
		<h3 class="pull-left ">Course Project</h3>
	</div>
	<div class="mainwrapper">
		<form name="courseprojectForm" class="form-horizontal formAlign"
			novalidate>
			<div class="form-group "
				ng-class="{ 'has-error' : submitted && courseprojectForm.projectName.$invalid }">
				<label mean-token="'create-projectName'"
					class="col-md-2 err-msg-projectName">Project Name</label>
				<div class="col-md-8">
					<input name="projectName" type="text"
						data-ng-model="courseproject.projectName " id="projectName"
						placeholder="Project Name" class="form-control  err-msg " required>
					<div class="errorRed" ng-repeat="err in error.data"
						ng-if="err.param =='projectName'">{{err.msg}}</div>
					<div ng-show="submitted && courseprojectForm.projectName.$invalid">
						<span class="errorRed"
							ng-show="courseprojectForm.projectName.$error.required">
							Please enter Project Name </span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && courseprojectForm.description.$invalid }">
				<label mean-token="'create-description'"
					class="col-md-2 err-msg-description">Description</label>
				<div class="col-md-8">
					<textarea name="description"
						data-ng-model="courseproject.description " id="description"
						cols="30" rows="3" placeholder="Description"
						class="form-control  err-msg " required></textarea>
					<div class="errorRed" ng-repeat="err in error.data"
						ng-if="err.param =='description'">{{err.msg}}</div>
					<div ng-show="submitted && courseprojectForm.description.$invalid">
						<span class="err-msg errorText red"
							ng-show="courseprojectForm.description.$error.required">Enter
							Description Name </span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && courseprojectForm.totalMarks.$invalid}">
				<label mean-token="'create-totalMarks'"
					class="col-md-2 err-msg-totalMarks">Total Marks</label>
				<div class="col-md-8">
					<input name="totalMarks" type="number"
						data-ng-model="courseproject.totalMarks " id="totalMarks"
						placeholder="Total Marks" min="{{courseproject.minimumMarks + 1}}" class="form-control  err-msg " required>
					<div class="errorRed" ng-repeat="err in error.data"
						ng-if="err.param =='totalMarks' && courseproject.totalMarks < courseproject.minimumMarks">{{err.msg}}</div>
					<div ng-if="submitted && courseprojectForm.totalMarks">
						<span class="err-msg errorText red"
							ng-show="courseprojectForm.totalMarks.$error.required">Enter
							the Total Marks </span>
							<span class="err-msg errorText red"
							 ng-show="courseprojectForm.totalMarks.$error.min">Total Marks must be greater than Minimum Marks</span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && courseprojectForm.minimumMarks.$invalid }">
				<label mean-token="'create-minimumMarks'"
					class="col-md-2 err-msg-minimumMarks">Minimum Marks</label>
				<div class="col-md-8">
					<input name="minimumMarks" type="number"
						data-ng-model="courseproject.minimumMarks " min="1" id="minimumMarks"
						placeholder="Minimum Marks" class="form-control  err-msg "
						required>
					<div class="errorRed" ng-repeat="err in error.data"
						ng-if="err.param =='minimumMarks'">{{err.msg}}</div>
					<div ng-show="submitted && courseprojectForm.minimumMarks.$invalid">
						<span class="err-msg errorText red"
							ng-show="courseprojectForm.minimumMarks.$error.required">Enter
							the Minimum Marks </span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label mean-token="'create-requiredSkill'" class="col-md-2">Required
					skill</label>
				<div class="row rolesA col-md-offset-2 level15"
					ng-repeat="rSkill in courseproject.requiredSkill">
					<div class="col-md-3 rolesA"
						ng-class="{ 'has-error' : submitted && courseprojectForm.skill.$invalid }">
						<label for="skill" mean-token="'create-skill'">Skill</label> <select
							name="skill" class="form-control" data-ng-model="rSkill.skill"
							required>
							<option value="" selected disabled>Select</option>
							<option ng-repeat="skill in skillList" value="{{skill._id}}">{{skill.name}}</option>
						</select>
						<div class="errorRed" ng-repeat="err in error.data"
							ng-if="err.param =='requiredSkill[0].skill'">{{err.msg}}</div>
						<div ng-show="submitted &&courseprojectForm.skill.$error.required">
							<span class="err-msg red"> Please Enter Skill</span>
						</div>
					</div>
					<div class="col-md-3 rolesA"
						ng-class="{ 'has-error' : submitted && courseprojectForm.level.$invalid }">
						<label for="level" mean-token="'create-level'">Level</label> <select
							ng-options="level.option as level.value for level in componentLevel"
							name="level" class="form-control" ng-model="rSkill.level"
							required>
							<option value="" selected disabled>Select</option>
							<option style="display: none" value="">{{rSkill.level}}</option>
						</select>
						<div class="errorRed" ng-repeat="err in error.data"
							ng-if="err.param =='requiredSkill[0].level'">{{err.msg}}</div>
						<div ng-show="submitted &&courseprojectForm.level.$error.required">
							<span class="err-msg red"> Please Enter Level</span>
						</div>
					</div>
					<div class="col-md-2 rolesA"
						ng-class="{ 'has-error' : submitted && courseprojectForm.rewardPoint.$invalid }">
						<label for="rewardPoint" mean-token="'create-rewardPoint'">Reward
							Point</label> <select
							ng-options="rewardPoint.option as rewardPoint.value for rewardPoint in componentRewardPoint"
							name="rewardPoint" class="form-control"
							ng-model="rSkill.rewardPoint" required>
							<option value="" selected disabled>Select</option>
							<option style="display: none" value="">{{rSkill.rewardPoint}}</option>
						</select>
						<div class="errorRed" ng-repeat="err in error.data"
							ng-if="err.param =='requiredSkill[0].rewardPoint'">{{err.msg}}</div>
						<div
							ng-show="submitted &&courseprojectForm.rewardPoint.$error.required">
							<span class="err-msg red"> Please Enter RewardPoint</span>
						</div>
					</div>
					<div class="col-md-2 martop25">
						<div ng-show="$last">
							<button type="button"
								ng-click="removeRequiredSkill(requiredSkill)" ng-show="$index>0">

								<i class="fa edu-action fa-minus-circle"></i>
							</button>
							<button type="button" ng-click="addRequiredSkill()">
								<i class="fa edu-action fa-plus-circle"></i>
							</button>
						</div>
						<button type="button"
							ng-click="removeRequiredSkill(requiredSkill)" ng-hide="$last">
							<i class="fa edu-action fa-minus-circle"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label mean-token="'create-question'" class="col-md-2">Question</label>
				<div class="row rolesA level15 col-md-offset-2"
					ng-repeat="questionsfield in courseproject.questionsfields">
					<div class="col-md-8 rolesA"
						ng-class="{ 'has-error' : submitted && courseprojectForm.question.$invalid }">
						<textarea name="question" data-ng-model="questionsfield.question"
							id="question" cols="30" rows="3" placeholder="Question"
							class="form-control err-msg " required></textarea>
						<div class="errorRed" ng-repeat="err in error.data"
							ng-if="err.param =='questionsfields'">{{err.msg}}</div>
						<div
							ng-show="submitted &&courseprojectForm.question.$error.required">
							<span class="err-msg red"> Please Enter Question</span>
						</div>
					</div>
					<div class="col-md-2">
						<div ng-show="$last">
							<button type="button" ng-click="removeQuestion(question)"
								ng-show="$index>0">

								<i class="fa edu-action fa-minus-circle"></i>
							</button>
							<button type="button" ng-click="addQuestion()">
								<i class="fa edu-action fa-plus-circle"></i>
							</button>
						</div>
						<button type="button" ng-click="removeQuestion(question)"
							ng-hide="$last">
							<i class="fa edu-action fa-minus-circle"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group left1">
				<div class="col-md-offset-2 col-md-8">
					<button mean-token="'create-submit'" type="button"
						class="btn btn-info" ng-click="create(courseprojectForm.$valid)">Submit</button>
					<button type="button" class="btn btn-info"
						ng-click="cancelCourseproject()">Cancel</button>
				</div>
			</div>

		</form>
	</div>
</section>


