 <section data-ng-controller="CourseController">
<div class="col-xs-12">
         <ol class="breadcrumb">
            <li><i class="fa fa-home link-pointer" data-ng-click="redirectdashboard()"></i></li>
            <li><a href="/course/courseList">Available Courses</a></li>
            <li><a href="/course/courseDetails">Course Details</a></li>
        </ol>
 </div>

<div class="col-md-12">
<div class="col-md-12">
	<h2 class="text-center">Curriculum</h2>
	<div class="col-md-10">
	<h4 class="pull-left">Session 1(HTML)</h4>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>Topics</th>
				<th>Description</th>
				<th>Duration</th>
				<th>Hours/day</th>
				<th>Start Date</th>
				<th>Timings</th>
			</tr>
		</thead>
		<tbody>
			<tr class="">
				<td>Html Basics</td>
				<td>Starting html and tags</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>15th December 2015</td>
				<td>3pm to 5pm</td>
     		</tr>
     		<tr class="">
				<td>Html intermediate</td>
				<td>intermediate level</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>25th December 2015</td>
				<td>3pm to 5pm</td>
     		</tr>
     		<tr class="">
				<td>Html</td>
				<td>Advanced level</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>5th January 2016</td>
				<td>3pm to 5pm</td>
     		</tr>
		</tbody>
	  </table>
	 </div>
	 	<div class="col-md-10">
	<h4 class="pull-left">Session 2(CSS)</h4>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>Topics</th>
				<th>Description</th>
				<th>Duration</th>
				<th>Hours/day</th>
				<th>Start Date</th>
				<th>Timings</th>
			</tr>
		</thead>
		<tbody>
			<tr class="">
				<td>Css Basics</td>
				<td>Css introduction</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>15th December 2015</td>
				<td>3pm to 5pm</td>
     		</tr>
     		<tr class="">
				<td>Css intermediate</td>
				<td>intermediate level</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>25th December 2015</td>
				<td>3pm to 5pm</td>
     		</tr>
     		<tr class="">
				<td>Css Advanced</td>
				<td>Advanced level</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>5th January 2016</td>
				<td>3pm to 5pm</td>
     		</tr>
		</tbody>
	  </table>
	 </div>
	 	<div class="col-md-10">
	<h4 class="pull-left">Session 3(Boostrap)</h4>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>Topics</th>
				<th>Description</th>
				<th>Duration</th>
				<th>Hours/day</th>
				<th>Start Date</th>
				<th>Timings</th>
			</tr>
		</thead>
		<tbody>
			<tr class="">
				<td>Boostrap Basics</td>
				<td>Starting Boostrap</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>15th December 2015</td>
				<td>3pm to 5pm</td>
     		</tr>
     		<tr class="">
				<td>Boostrap intermediate</td>
				<td>intermediate level</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>25th December 2015</td>
				<td>3pm to 5pm</td>
     		</tr>
     		<tr class="">
				<td>Boostrap</td>
				<td>Advanced level</td>
				<td>10 Days</td>
				<td>3hrs</td>
				<td>5th January 2016</td>
				<td>3pm to 5pm</td>
     		</tr>
		</tbody>
	  </table>
	 </div>
	 </div>
	 </div>
</section> 
