<section data-ng-controller="UserCourseController">
<div class="col-xs-12">
         <ol class="breadcrumb">
            <li><i class="fa fa-home link-pointer" data-ng-click="redirectdashboard()"></i></li>
        </ol>
 </div>
<div class="col-sm-12">
 <ul class="nav nav-tabs">
    <li><a href="/course/courseList">Available Courses</a></li>
    <li class="active"><a href="/mycourse/curriculum">MyCourses</a></li>
  </ul>
 </div>
 <div class="col-sm-12">
       <div class="col-xs-12 social-group-header">
       <h3 class="pull-left ">MyCourses</h3>
    </div>
    <div class="col-sm-12 mar-bt">
       <div class="row">
         <div class="col-sm-3 social-group-individual no-padding">
          <i class="fa fa-book user-font-course text-center"></i>
          <div class="col-sm-12 social-group-show-details">
         <h5 class="pull-left ">Front End</h5>
         </div>
         </div>
       </div>
    </div>
   </div>
<ul class="nav nav-tabs">
	<li><a href="/mycourse/curriculum">Curriculum</a></li>
	<li class="active"><a href="/course/coursematerials"
		data-toggle="tab">Course materials</a></li>
	<li><a href="/course/schedule">Schedule</a></li>
	<li><a href="/course/mentor">Mentor</a></li>
	<li><a href="/course/batchmates">Batchmates</a></li>
	<li><a href="/course/test">Test</a></li>
</ul>
<div class="row course-top1">
	<div class="col-md-8">
		<h3>CourseMaterials</h3>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>Topics</th>
					<th>Subtopics</th>
					<th>Duration</th>
					<th>Hours/day</th>
					<th>Start Date</th>
					<th>Timings</th>
				</tr>
			</thead>
			<tbody>
				<tr class="">
					<td>Html Basics</td>
					<td>Starting html and tags</td>
					<td>2 Days</td>
					<td>4hrs</td>
					<td>15th December 2015</td>
					<td>3pm to 7pm</td>
				</tr>
				<tr class="">
					<td>Html intermediate</td>
					<td>intermediate level</td>
					<td>3 Days</td>
					<td>2hrs</td>
					<td>25th December 2015</td>
					<td>3pm to 5pm</td>
				</tr>
				<tr class="">
					<td>Html advanced</td>
					<td>advanced level</td>
					<td>4 Days</td>
					<td>3hrs</td>
					<td>5th January 2016</td>
					<td>3pm to 6pm</td>
				</tr>
				<tr class="">
					<td>Javascript basic</td>
					<td>basic level</td>
					<td>2 Days</td>
					<td>3hrs</td>
					<td>17th January 2016</td>
					<td>2pm to 5pm</td>
				</tr>
				<tr class="">
					<td>Javascript intermediate</td>
					<td>intermediate level</td>
					<td>3 Days</td>
					<td>2hrs</td>
					<td>24th January 2016</td>
					<td>3pm to 5pm</td>
				</tr>
				<tr class="">
					<td>Javascript advanced</td>
					<td>advanced level</td>
					<td>4 Days</td>
					<td>3hrs</td>
					<td>2nd February 2016</td>
					<td>3pm to 5pm</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</section>