 <section data-ng-controller="UserCourseController">
 <div class="col-xs-12">
         <ol class="breadcrumb">
            <li><i class="fa fa-home link-pointer" data-ng-click="redirectdashboard()"></i></li>
            <li><a href="/course/courseList">Available Courses</a></li>
            <li><a href="/course/courseDetails">Course Details</a></li>
            <li><a href="/course/course_selected">Course Selection</a></li>
        </ol>
 </div>
	<div class="row">
		<div class="col-md-8 ">
			<h1>Payment</h1>
			<table class="table table-bordered table-condensed">
				<thead></thead>
				<tbody>
				    <tr>
						<th>Selected Course</th>
						<td>Frontend</td>
					</tr>
					<tr>
						<th>Course Fee</th>
						<td>$45</td>
					</tr>
					<tr>
						<th>Security Deposit</th>
						<td>$10</td>
					</tr>
					<tr>
						<th>Service Charge</th>
						<td>2%</td>
					</tr>
					<tr>
					<th>Total Invoice Amount</th>
					<td>$57</td>
					</tr>
					<tr>
					<td colspan="2">
						<form name="loanForm" class="form-horizontal col-md-12" data-ng-submit="" novalidate>
							<div class="checkbox">
								<label><input type="checkbox" name="check" data-ng-model="usercourse.payment_method" value="Loan" data-ng-change="ShowLoan()">Apply for Loan</label>
								<div data-ng-show="checked">
								     <label class="radio-inline">
                                         <input type="radio" name="optradio" data-ng-model="usercourse.counselling" data-ng-change="ShowLoanDetails()">Loan Type 1
                                     </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="optradio"  data-ng-model="usercourse.counselling" data-ng-change="ShowLoanDetails()">Loan Type 2
                                    </label>
                                     <label class="radio-inline">
                                      <input type="radio" name="optradio"  data-ng-model="usercourse.counselling" data-ng-change="ShowLoanDetails()">Loan Type 3
                                        </label>
                                        <div>
                                           <h3 class="text-center">Loan Details</h3>
                                           <ul>
                                           <li>
                                                <div class="col-md-8 ">
			                               <table class="table table-bordered table-condensed">
				                          <tbody>
				                             <tr>
						                       <th>Period</th>
						                        <td>3 Months</td>
					                         </tr>
					                         <tr>
						                       <th>Interest</th>
						                        <td>12 %</td>
					                         </tr>
					                  </tbody>
			                          </table>
                                       </div>
                                            
                                           </li>
                                           <li>
                                              <div class="col-md-8 ">
			                               <table class="table table-bordered table-condensed">
				                          <tbody>
				                                  <tr>
				                                 <th colspan="2" class="text-center"> EMI Schedule</th>
				                                  </tr>
				                             <tr>
						                       <th>EMI 1</th>
						                        <td>$10</td>
					                         </tr>
					                         <tr>
						                       <th>EMI 2</th>
						                        <td>$10</td>
					                         </tr>
					                         <tr>
						                       <th>EMI 3</th>
						                        <td>$15</td>
					                        </tr>
				                          </tbody>
			                          </table>
                                       </div>
                                           </li>
                                           <li class="col-md-8">
                                           <button type="button" class="btn btn-info"  data-ng-click="loanApply()">Apply</button>
                                           <div class=" alert-success animated fadeIn text-center" data-ng-show="loan">{{loan}}</div>
                                           </li>
                                           </ul>
                                        </div>
								</div>
								
							</div>
						</form>
					</td>
				</tr>
				<tr>
				   <td></td>
				   <td><button type="button" class="btn btn-info"  data-ng-click="courseCheckout()">Checkout</button></td>
						
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</section>



























