<section data-ng-controller="ListCourseUserController"
	data-ng-init=" coursesBasedonUsers();findCourse();findTopics();findCourseProject();findOnlineTest(); availablecourse();">
	<div ng-include="'/system/views/breadcrum.html'"></div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-3 social-group-individual no-padding">
				<i class="fa fa-book user-font-course text-center"></i>
			</div>
			<div class="col-sm-6">
				<h4>Course Name:</h4>
				<p>{{course.name}}</p>
				<h4>Description:</h4>
				<p>{{course.description}}</p>
			</div>
		</div>
	</div>
	<div>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>Qualification Required</th>
					<th>Cost Type</th>
					<th>Online Class</th>
					<th>Skill Set</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{course.qualification}}</td>
					<td>{{course.costType}}</td>
					<td>{{course.online_mentor_support}}</td>
					<td><span data-ng-repeat="skill in course.courseSkill">
							{{skill.skillName.name}} <span data-ng-hide="$last"> ,</span>
					</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-12 mar-bt mrg-tp22">
		<label class="col-md-2 label-left">Select Branch </label>
		<div class="col-md-2" ng-repeat="branch in branches">
			<span ng-if="$index==0"><input type="radio" name="select"
				value="select" ng-init="branchSelectedCourse(branch._id)"
				ng-checked="true">{{branch.branchName}}</span> <span
				ng-if="$index>0"><input type="radio" name="select"
				value="select" ng-click="branchSelectedCourse(branch._id)">{{branch.branchName}}</span>
		</div>
	</div>
	<div>
		<ul class="nav nav-tabs">
			<li><a href=""
				data-ng-click="myCoursetab(COURSE.PATH.MY_COURSE_DETAILS ,course)">Curriculum</a></li>
			<li data-ng-hide="true"><a href="/course/coursematerials"
				data-toggle="tab">Course materials</a></li>
			<li class="active"><a href="#2">Payment Schedule</a></li>
			<li data-ng-hide="true"><a href="/course/mentor">Mentor</a></li>
			<li data-ng-hide="true"><a href="/course/batchmates">Batchmates</a></li>
			<li data-ng-hide="true"><a href="/course/test">Test</a></li>
		</ul>
	</div>
	<div id="2" data-ng-init="loadPaymentSchedule()">
		<div class="mainwrapper">
			<div class="form-group">
				<div data-ng-repeat="installment in paymentschedule.installments">
					<div data-ng-show="installment.isDownPayment">
						<h4>Down Payment</h4>
					</div>
					<div data-ng-hide="installment.isDownPayment">
						<h4>Installment {{$index}}</h4>
					</div>
					<div class="col-md-12 row break">
						<div class="col-md-2">
							<label>Amount</label>
							<div>{{installment.amount}}</div>
						</div>
						<div class="col-md-3">
							<label>Discount Amount</label>
							<div>{{installment.discountAmount}}</div>
						</div>
						<div class="col-md-2">
							<label>Fine Amount</label>
							<div>
								<span data-ng-hide="installment.isDownPayment">{{installment.fineCharge}}</span>
								<span data-ng-show="installment.isDownPayment">-</span>
							</div>
						</div>
						<div class="col-md-2">
							<label>DueDate</label>
							<div>{{installment.dueDate | date:'dd-MMM-yyyy'}}</div>
						</div>
						<div class="col-md-3">
							<label>Total Amount</label>
							<div>{{installment.totalAmount}}</div>
						</div>
					</div>
					<div class="row col-md-12 break">
						<form name="paymentScheduleForm" novalidate>
							<div class="col-md-6" data-ng-hide="false"
								ng-class="{ 'has-error' : submitted && paymentScheduleForm.remarks.$invalid }">
								<label>Remarks </label>
								<div>
									<textarea cols="50" rows="2"
										data-ng-model="installment.remarks" data-ng-disabled="installment.paid || !writePermission">{{installment.remarks}}</textarea>
								</div>
								<div data-ng-show="submitted && paymentScheduleForm.remarks.$invalid">
									<span class="err-msg errorText red"
										ng-show="paymentScheduleForm.remarks.$invalid">Enter
										Remarks </span>
								</div>
							</div>
						</form>
						<div class="col-md-2" data-ng-show="installment.paid">
							<label>Paid Date</label>
							<div>{{installment.paidDate | date:'dd-MMM-yyyy'}}</div>
						</div>
						<div class="col-md-2" data-ng-hide="installment.paid">
							<label></label>
							<div>
								<button type="button" data-ng-disabled="!paymentschedule.installments[$index-1].paid && !paymentschedule.installments[$index].isDownPayment"
									data-ng-click="adminPayNow(paymentScheduleForm.$valid, paymentschedule._id,installment._id)">PayNow</button>
							</div>
						</div>
						<br />
						<br />
						<br />
						<hr />
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


