<div class="row course-top1">
	<div class="col-md-8">
		<h3>MyCourse</h3>
		<!--  <button type="button" class="btn btn-info" ng-click="clicked()">CourseMaterials</button>
			<button type="button" class="btn btn-info" ng-click="clicked1()">Schedule</button>
			<button type="button" class="btn btn-info" ng-click="clicked2()">Mentor</button>
			<button type="button" class="btn btn-info" ng-click="clicked3()">Batchmates</button>
			<button type="button" class="btn btn-info" ng-click="clicked4()">Test</button>-->
		<ul class="nav nav-tabs">
			<li><a href="/mycourse/curriculum">Curriculum</a></li>
			<li><a href="/course/coursematerials" data-toggle="tab">Course
					materials</a></li>
			<li><a href="/course/schedule">Schedule</a></li>
			<li><a href="/course/mentor">Mentor</a></li>
			<li><a href="/course/batchmates">Batchmates</a></li>
			<li><a href="/course/test">Test</a></li>
		</ul>
		<!--  <div class="tab-content">
			<div class="tab-pane" id="Curriculum"></div>
			<div class="tab-pane" id="Coursematerials"></div>
			<div class="tab-pane" id="Schedule"></div>
			<div class="tab-pane" id="Mentor"></div>
			<div class="tab-pane" id="Batchmates"></div>
			<div class="tab-pane" id="Test"></div>
		</div>-->
	</div>
</div>







