<section data-ng-controller="CourseController">
<div class="row">
		<div class="col-xs-12">
         <ol class="breadcrumb">
            <li><i class="fa fa-home link-pointer" data-ng-click="redirectdashboard()"></i></li>
        </ol>
 </div>
</div>
 <div class="col-xs-12 social-group-header">
       <h3 class="pull-left ">Metrics</h3>
  </div>
<div class="row metrics-top">
<div class="col-md-10">
 <h4 class="pull-left">Skill_Rating</h4>
 <table class="table table-bordered table-condensed">
  <thead>
   <tr>
    <th>Skill_Name</th>
    <th>Rating/5</th>
   </tr>
  </thead>
  <tbody>
   <tr class="">
    <td>Html Basics</td>
    <td>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i> 4
    </td>
       </tr>
       <tr class="">
    <td>Html intermediate</td>
    <td>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
    <i class="fa fa-star-o"></i> 3.5
    </td>
       </tr>
  </tbody>
   </table>
   <h4 class="pull-left">Student_Assessment</h4>
 <table class="table table-bordered table-condensed">
  <thead>
   <tr>
    <th>Test</th>
    <th>Percentage</th>
   </tr>
  </thead>
  <tbody>
   <tr class="">
    <td>Test1</td>
    <td>75%</td>
       </tr>
       <tr class="">
    <td>Test2</td>
    <td>50%</td>
       </tr>
  </tbody>
   </table>
  </div>
  </div>
  </section>