 <section data-ng-controller="changePasswordCtrl" class="change-password">
 <h3 class="text-center">CHANGE PASSWORD</h3>
 <form name="changePasswordForm" id="changePwdForm" method="post" class=" row" ng-submit = "changepassword(changePasswordForm,user)" role="form"  novalidate = "novalidate">
          <h5 ng-show="changePasswordForm.currentPassword.$error.required && inValidForm "> Please Enter Valid Data </h5>
          <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
              <label for="currentpswd" class="control-label pull-left">Current password</label>
              <input name="password" type="password" class="form-control" data-ng-model="user.currentPassword" id="currentPassword" placeholder="Current Password" required>
               <div class="msgColor animated fadeIn errorRed" ng-repeat = "error in err" ng-if = "error.param == 'currentPassword'">
                {{error.msg}}</div>
            </div>
               <div class="form-group">
              <label for="newpswd" class="control-label differ1 pull-left">New password </label>
               <input name="password" type="password" class="form-control" data-ng-model="user.password" id="password" placeholder="New Password" required>
              <div class="msgColor animated fadeIn errorRed" ng-repeat = "error in err" ng-if = "error.param == 'password'">
              {{error.msg}}</div>
            </div>

            <div class="form-group">
              <label for="repeatpswd" class="control-label differ pull-left">Repeat New password</label>
               <input name="confirmPassword" type="Password" class="form-control" data-ng-model="user.confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
               <div class="msgColor animated fadeIn errorRed" ng-repeat = "error in err" ng-if = "error.param == 'confirmPassword'">
               {{error.msg}}</div>
            </div>
            <div>
            <button type="submit" class="modalsave btn btn-info">Save</button>
            <button type="submit" class="btn btn-info" data-ng-click="redirectProfile()">Cancel</button>
            </div>
          </div>
        </form>
    </section>    