<div data-ng-controller="">
			<button class="btn btn-info pull-right" ng-click="">Sign Up</button>	
		
	<div>	
<h3><span style="font-weight:bold">What is the role of a mentor?</span></h3> 
<p style="font-size:12">	
A mentor may help with exploring careers, setting goals, developing contacts, and identifying resources.
The knowledge, advice, and resources a mentor shares depend on the format and goals of a specific mentoring relationship.				
 A mentor may share with a mentee (or protege) information about his or her own career path, as well as provide guidance, motivation, emotional support, and role modeling.
</p>

<h3><span style="font-weight:bold">Benefits for Mentors</span></h3>
<p style="font-size:12">
1. Recognition as a subject matter expert and leader.</br>
2. Exposure to fresh perspectives, ideas and approaches.</br>
3. Extension of their professional development record.</br>
4. Opportunity to reflect on their own goals and practices.</br>
5. Development of their personal leadership and coaching styles.
</p>


</div>
<div>
<table class="table" >
		<thead>
			<tr>

				<th  class="text-center">Project Title</th>
				<th class="text-center">Location</th>
				<th class="text-center">Online/Offline</th>
				<th class="text-center">Part-Time/Full-Time</th>
			    <th class="text-center">Actions</th>
				
	</tr>
		</thead>
		<tbody class="anchorTag"> 
			<tr>
				<td>ABC</td>
				<td>Bangalore</td>
				<td>Online</td>
				<td>Part-Time</td>
				<td  class="btn btn-info">Apply</td>
			
			</tr>
		</tbody>

		</table>	
			</div>

	</div>		 