<section data-ng-controller="UserController" data-ng-init="loadRoleAndCountryList();">
    <div data-ng-include="'/system/views/alert.html'">
    </div>
    <div ng-include="'/system/views/breadcrum.html'">
    </div>
    <div class="mainwrapper">
        <h3>
            Create User
        </h3>
        <div class="mainwrapper">
            <!-- User Form (create) -->
            <form name="userForm" class="form-horizontal" novalidate>
                <!-- User Name (input) -->
                <div class="form-group">
                    <label mean-token="'edit-name'" class="col-md-2">
                        {{ 'common.NAME' | translate }}
                    </label>
                    <div class="col-md-8">
                        <input name="name" type="text" class="form-control" data-ng-model="user.name" id="name"
                            placeholder="{{ 'common.NAME' | translate }}" required/>
                            <div ng-show="submitted && userForm.name.$invalid">
                                <div class="errorRed" ng-repeat="err in error.data" ng-if="err.param =='name'">
                                    {{err.msg}}
                                </div>
                                <span class="err-msg errorText red"
                                    ng-show="userForm.name.$error.required">
                                    {{ 'common.error_messages.NAME' | translate }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- User Email -->
                    <div class="form-group">
                        <label mean-token="'edit-email'" class="col-md-2 ">
                            {{ 'locations.branch.EMAIL' | translate }}
                        </label>
                        <div class="col-md-8">
                            <input name="email" type="email" class="form-control" data-ng-model="user.email" id="email"
                                placeholder="{{ 'locations.branch.EMAIL' | translate }}" aria-describedby="user-email-help"
                                ng-pattern=" /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required/>
                                <div ng-show='error'>
                                    <div class="errorRed" ng-repeat="err in error.data" ng-if="err.param =='email'">
                                        {{err.msg}}
                                    </div>
                                    <span class="err-msg errorText red"
                                        ng-show="userForm.name.$error.required">
                                        Please
                                        enter the Name
                                    </span>
                                </div>
                                <div ng-show="submitted && userForm.email.$invalid">
                                    <span class="err-msg errorText red"
                                        ng-show="userForm.email.$error.required">
                                        {{ 'users.error_messages.EMAIL' | translate }}
                                    </span>
                                </div>
                                <div ng-show="submitted && userForm.email.$invalid">
                                    <span class="err-msg errorText red"
                                        ng-show="userForm.email.$error.pattern">
                                        {{ 'mentor.error_messages.VALID_EMAIL' | translate }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Username -->
                        <div class="form-group">
                            <label mean-token="'create-username'" class="col-md-2 pull-left">
                                {{ 'users.USER_NAME' | translate }}
                            </label>
                            <div class="col-md-8">
                                <input name="username" type="text" class="form-control" data-ng-model="user.username"
                                    id="username" placeholder="{{ 'users.USER_NAME' | translate }}" required/>
                                    <div class="errorRed" ng-repeat="err in error.data" ng-if="err.param =='username'">
                                        {{err.msg}}
                                    </div>
                                    <div ng-show="submitted && userForm.username.$invalid">
                                        <span class="err-msg errorText red"
                                            ng-show="userForm.username.$error.required">
                                            {{ 'users.error_messages.USER_NAME' | translate }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Role -->
                            <div class="form-group">
                                <label mean-token="'edit-role'" class="col-md-2 pull-left mainwrapper">
                                    {{ 'users.ROLE' | translate }}
                                </label>
                                <div class="col-md-10">
                                    <form method="post">
                                        <div class="row">
                                            <ul>
                                                <div data-ng-repeat="role in roles " class="">
                                                    <div class="checkbox">
                                                        <input data-ng-click="addRole(role,user)" id="check{{role._id}}"
                                                            type="checkbox" name="check" ng-checked="checkedRole(role)" value="{{role.name}}"/>
                                                            <label for="check{{role._id}}">
                                                                {{role.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Location -->
                                <div class="row">
                                    <label mean-token="'edit-location'" class="col-md-2 control-label">
                                        {{ 'users.LOCATION' | translate }}
                                    </label>
                                    <div class="col-md-8">
                                        <form method="post">
                                            <div id="tree" class="row">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                            <!-- Form Submit -->
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-9">
                                                    <button mean-token="'create-submit'" type="button" data-ng-click="createUser(userForm.$valid)"
                                                        class="btn btn-info">
                                                        Create User
                                                    </button>
                                                    <button mean-token="'create-cancel'" type="button" class="btn btn-info"
                                                        ng-click="cancelUsers()">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
