<div data-ng-controller="UserController" data-ng-init="list();">
    <div data-ng-include="'/system/views/alert.html'">
    </div>
    <div ng-include="'/system/views/breadcrum.html'">
    </div>
    <div class="mainwrapper social-group-header">
        <h3 class="pull-left">
            Users
        </h3>
        <button class="btn btn-info pull-right" type="button" ng-if="writePermission"
                data-ng-click="toCreateUser()">
            New User
        </button>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-2 row">
            <div ng-include="'branch/views/role_filter.html'">
            </div>
        </div>
        <div class="col-md-10">
            <div ng-include="'branch/views/locationFilter.html'">
            </div>
            <br/>
        </div>
    </div>
    <table class="table table-bordered">
        <tr>
            <th class="text-center">
                Name
            </th>
            <th class="text-center">
                Email
            </th>
            <th class="text-center">
                Username
            </th>
            <th class="text-center">
                Confirmed
            </th>
            <th class="text-center">
                Roles
            </th>
            <th class="text-center">
                Joining Date
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
        <tbody>
        <tr data-ng-repeat="user in collection" class="anchorTag" data-ng-show="collection.length>0">
            <td>
                {{user.name}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.username}}
            </td>
            <td>
                <div ng-show="{{user.confirmed}}">
                    True
                </div>
                <div ng-hide="{{user.confirmed}}">
                    False
                </div>
            </td>
            <td>
                    <span ng-repeat="role in user.role">
                        {{role.name}}
                        <span ng-hide="$last">
                            ,&nbsp;
                        </span>
                    </span>
            </td>
            <td>
                {{user.confirmedAt | date:'dd-MMM-yyyy'}}
            </td>
            <td width="10%" align="center">
                <div class="dropdown" uib-dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle btn btn-wide btn-default" uib-dropdown-toggle>
                        <i class="fa fa-arrow-circle-right">
                        </i>
                            <span>
                                Actions
                            </span>
                    </a>
                    <ul role="menu" class="dropdown-menu dropdown-light animated fadeInUpShort ">
                        <li ng-if="readPermission">
                            <a class="menu-toggler" href="/admin/user/{{user._id}}/view">
                                <i class="fa fa-eye">
                                </i>
                                    <span>
                                        View Info
                                    </span>
                            </a>
                        </li>
                        <li ng-if="updatePermission">
                            <a class="menu-toggler" href="/admin/user/{{user._id}}/edit">
                                <i class="fa fa-pencil-square-o">
                                </i>
                                    <span>
                                        Edit Info
                                    </span>
                            </a>
                        </li>
                        <li ng-if="deletePermission">
                            <a class="menu-toggler" ng-click="modalDeletePopup(user)">
                                <i class="fa fa-minus-square-o">
                                </i>
                                    <span>
                                        Delete
                                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr data-ng-show="!collection.length>0">
            <td colspan="7">
                No Users available
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paginate usr">
        <div ng-include="'system/views/paginationFilter.html'">
        </div>
        <br/>
    </div>
</div>
