<div class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="frgtpswdlabel" id="deleteBadge">
	<div class="modal-dialog modelShow" role="document">
		<div class="modal-content modal-margntop">
			<div class="modal-header">Delete Badge</div>
			<div class="modal-body">

				<p>Are you sure you want to delete the Badge?</p>
				<button	ng-click="remove(badge)" class="btn btn-info">Delete</button>
				<button ng-click="canceldelete()" class="btn btn-info">Cancel</button>

			</div>
		</div>
	</div>

</div>