<div class="modal fade bs-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="frgtpswdlabel" id="deleteSkill" >
   <div class="modal-dialog modelShow" role="document">
     <div class="modal-content modal-margntop">
     <div class="modal-header">
    	Delete Skill
    </div>
    <div class="modal-body">
				<h5>Are you sure you want to delete the Skill?</h5>
   			 <button type="submit" class="btn btn-info" ng-click="remove(skill)">Delete</button>
   			 <button ng-click="cancelDelete()" class="btn btn-info">Cancel</button>
    </div>
    </div>
    </div>
   
</div>
