<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="frgtpswdlabel" id="deleteSite" >
  <div class="modal-dialog modelShow" role="document">
    <div class="modal-content modal-margntop">
      <div class="modal-header conf"><h4><b>Delete Site</b></h4></div>
      <div class="modal-body conf">
				<h5>Are you sure you want to delete the Site?</h5>
   			 <button class="btn-primary" ng-click="remove(site)">Delete</button>
   			 <button class="btn-primary" ng-click="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div> 
</div>



