<section class="row bg_grey_light tlpanel-success page_content">

<div class="" data-ng-controller="JobsController" data-ng-init="completejobdetail()">
	<div class="mainwrapper padding-allign-jobs anchorTag">
		<ol class="breadcrumb">
			<li><i data-ng-click="redirectdashboard()"
				class="fa fa-home link-pointer"></i></li>
			<li ><a href="/jobs">Jobs</a></li>
			<li ng-disabled = "true">Job Detail</li>
		</ol>
	</div>

   <div class="row col-md-12 padding-allign-jobs">
    <h3 class="col-md-8">{{singlejobdetail.title}}</h3>
   </div>

   <div class="row col-md-12 padding-allign-jobs padding-allign-jobs-bottom" >  
     <div class="col-md-12"><b>Posted On:</b>&nbsp{{singlejobdetail.postedDate}}</div>
   </div>
  <div class="row col-md-12 padding-allign-jobs padding-allign-jobs-bottom" >
              <div class="col-md-8">
                <div class="clearfix job-blog">
                            <div class="text-center col-md-3">
                                <span class="key"><h3>{{singlejobdetail.cost}}</h3></span>
                                <span class="value">          
                                        <span class="amount">Jobs Cost</span>
                                </span>                                
                            </div>
                            <div class="text-center col-md-3 border-right border-left">
                                <span class="key"><h3>{{singlejobdetail.costCurrency}}</h3></span>
                                <span class="value">Cost Currency</span>
                            </div>
                            <div class="text-center col-md-3 border-right">
                                <span class="key"><h3>{{singlejobdetail.status}}</h3></span>
                                <span class="value">Jobs Status</span>
                            </div>
                            <div class="text-center col-md-3 jobStatus">
                                 <span class="key"><h3>{{singlejobdetail.proposalCount}}</h3></span>
                                 <span class="value">Proposal Count</span>
                            </div>
                      </div>
                </div> 

             <div class="col-md-3"><input type="button" value="Send Propasal" class="job-proposal"/>
             </div>   
     </div><br>  
     
               <div class="row col-md-12 padding-allign-jobs ">
                   <div class="col-md-12 padding-allign-jobs-bottom"><b>Skills</b></div>
                </div>
                <div class="row col-md-12 padding-allign-jobs padding-allign-jobs-bottom">
                    <ul class="job-ul list-inline">
                          <li class="job-li" data-ng-repeat="jobskills in singlejobdetail.skills">{{jobskills.toUpperCase()}}</li>
                     </ul>
                </div>
           

              <div class="row col-md-12 padding-allign-jobs " >  
                 <div class="col-md-12 padding-allign-jobs-bottom"><b>Job Description</b></div>
               </div>
               
                <div class="row col-md-12 padding-allign-jobs"> 
                 <div class="col-md-8">{{singlejobdetail.description}}</div>
              </div> 
  
  </div>

</section> 