
<section class="" data-ng-controller="JobsController" data-ng-init="createJob();">
 <div ng-include="'/system/views/breadcrum.html'"></div>
   	  <div class="mainwrapper anchorTag">
        <ul class="nav nav-tabs tab-nav-width">
            <li class="active"><a href="#1" data-toggle="tab">{{ 'jobs.JOBS_RECOMMENDED' | translate }}</a></li>
            <li ><a href="#2" data-toggle="tab">{{ 'jobs.JOBS_ALL' | translate }}</a></li>
        </ul>  
    <div class="tab-content projecttab">
        <div class=" anchorTag tab-pane active" id="1"><br />
            <div data-ng-include="'/jobs/views/recommendedjobs.html'" ></div>
        </div>
        <div class=" anchorTag tab-pane" id="2"><br />
            <div data-ng-include="'/jobs/views/jobslist.html'"></div>
        </div>

    </div>
  </div>
</section>

