<section class="">
   <div class="" data-ng-controller="RecommendedJobsController" data-ng-init="recommendedlistjobs();recommendedjobscheck();">
      <div class="form-group">
            <div  class="col-md-12 row">
              <div data-ng-repeat="skills in checkedskilllist" class="col-md-2">
                  <input type="checkbox"  value="{{skills._id}}" data-ng-model="skills.check"  data-ng-change="skillchange(skills.check);">{{skills.name}}
              </div>     
            </div>
      </div><br><br>
      <h3 class="">List Of Jobs</h3>
      <div class="" data-ng-repeat="jobs in collection">
         <div class="col-md-12 jobs-bord job-blog1">
            <h3><a href="/job/{{jobs._id}}/details">{{jobs.title}}</a></h3>
            <p>{{jobs.description | limitTo: 160}}...</p>
            <div class="col-md-12 price">
               <h3 class="pull-left"><b>{{jobs.cost}}&nbsp;{{jobs.costCurrency}}</b></h3>
               <h5 class="pull-right"><li class="skills" ng-repeat="skill in jobs.skills">{{skill.toUpperCase()}}</li></h5>
            </div>
            <div class="col-md-12 provider">
               <h4 class="pull-left postdate black">Posted On: {{jobs.postedDate}}</h4>
               <h4 class="pull-right provider-name black">Truelancer</h4>
            </div>
         </div>
      </div>
   <div class="paginate usr">
      <div ng-include="'system/views/paginationFilter.html'"></div>
      <br>
   </div>

   </div>
</section>