<section data-ng-controller="SiteController" data-ng-init="findOne(); EditSite();">
<div ng-include="'/system/views/breadcrum.html'"></div>
	<div class="mainwrapper social-group-header">
		<h3 class="pull-left ">Site</h3>
	</div>
	<div class="mainwrapper">
		<form name="siteForm" class="form-horizontal formAlign" novalidate>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.websiteName.$invalid }">
				<label mean-token="'edit-websiteName'"
					class="col-md-2 pull-left err-msg-websiteName">Site Name</label>
				<div class="col-md-9">
					<input name="websiteName" type="text" data-ng-model="site.websiteName"
						id="websiteName" placeholder="Site Name"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.websiteName.$invalid">
						<span class="err-msg"
							ng-show="siteForm.websiteName.$error.required"> Please
							enter the Site Name </span>
					</div>
				</div>
				<div ng-show="error" class="col-md-offset-2 red col-md-9 "
		          ng-repeat="err in error.data">{{err.msg}}</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.websiteUrl.$invalid }">
				<label mean-token="'edit-websiteUrl'"
					class="col-md-2 pull-left err-msg-websiteUrl">Site Url</label>
				<div class="col-md-9">
					<input name="websiteUrl" type="url" data-ng-model="site.websiteUrl"
						id="websiteUrl" placeholder="http://www.site.com"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.websiteUrl.$invalid">
						<span class="err-msg"
							ng-show="siteForm.websiteUrl.$error.required"> Please
							enter the Site Url </span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.siteUsername.$invalid }">
				<label mean-token="'edit-siteUsername'"
					class="col-md-2 pull-left err-msg-siteUsername">Site Username</label>
				<div class="col-md-9">
					<input name="siteUsername" type="text" data-ng-model="site.siteUsername"
						id="siteUsername" placeholder="Site Username"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.siteUsername.$invalid">
						<span class="err-msg"
							ng-show="siteForm.siteUsername.$error.required"> Please
							enter the Site Username </span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.sitePassword.$invalid }">
				<label mean-token="'edit-sitePassword'"
					class="col-md-2 pull-left err-msg-sitePassword">Site Password</label>
				<div class="col-md-9">
					<input name="sitePassword" type="Password" data-ng-model="site.sitePassword"
						id="sitePassword" placeholder="Site Password"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.sitePassword.$invalid">
						<span class="err-msg"
							ng-show="siteForm.sitePassword.$error.required"> Please
							enter the Site Password </span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.apiUrl.$invalid }">
				<label mean-token="'edit-apiUrl'"
					class="col-md-2 pull-left err-msg-apiUrl">API Url</label>
				<div class="col-md-9">
					<input name="apiUrl" type="text" data-ng-model="site.apiUrl"
						id="apiUrl" placeholder="API Url"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.apiUrl.$invalid">
						<span class="err-msg"
							ng-show="siteForm.apiUrl.$error.required"> Please
							enter the API Url </span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.apiSecret.$invalid }">
				<label mean-token="'edit-apiSecret'"
					class="col-md-2 pull-left err-msg-apiSecret">API Secret</label>
				<div class="col-md-9">
					<input name="apiSecret" type="text" data-ng-model="site.apiSecret"
						id="apiSecret" placeholder="API Secret"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.apiSecret.$invalid">
						<span class="err-msg"
							ng-show="siteForm.apiSecret.$error.required"> Please
							enter the API Secret </span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.apiSiteId.$invalid }">
				<label mean-token="'edit-apiSiteId'"
					class="col-md-2 pull-left err-msg-apiSiteId">API Site Id</label>
				<div class="col-md-9">
					<input name="apiSiteId" type="text" data-ng-model="site.apiSiteId"
						id="apiSiteId" placeholder="API Site Id"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.apiSiteId.$invalid">
						<span class="err-msg"
							ng-show="siteForm.apiSiteId.$error.required"> Please
							enter the API Site Id </span>
					</div>
				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.checkLoginAPIendpoint.$invalid }">
				<label mean-token="'edit-checkLoginAPIendpoint'"
					class="col-md-2 pull-left err-msg-checkLoginAPIendpoint">CheckLogin API Endpoint</label>
				<div class="col-md-9">
					<input name="checkLoginAPIendpoint" type="text" data-ng-model="site.checkLoginAPIendpoint"
						id="checkLoginAPIendpoint" placeholder="/checkLogin.py"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.checkLoginAPIendpoint.$invalid">
						<span class="err-msg"
							ng-show="siteForm.checkLoginAPIendpoint.$error.required"> Please
							enter the CheckLogin API Endpoint </span>
					</div>
				</div>
			</div>
			<!-- <div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.checkLoginAPIJSON.$invalid }">
				<label mean-token="'edit-checkLoginAPIJSON'"
					class="col-md-2 pull-left err-msg-checkLoginAPIJSON">CheckLoginAPIJSON</label>
				<div class="col-md-9">
					<textarea name="checkLoginAPIJSON" data-ng-model="site.checkLoginAPIJSON"
						id="checkLoginAPIJSON" cols="30" rows="3" placeholder="checkLoginAPIJSON"
						class="form-control err-msg " required ></textarea>
					<div ng-show="submitted && siteForm.checkLoginAPIJSON.$invalid">
						<span class="err-msg"
							ng-show="siteForm.checkLoginAPIJSON.$error.required"> Please
							enter the checkLoginAPIJSON </span>
					</div>
				</div>
			</div> -->
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.getUserInfoAPIendpoint.$invalid }">
				<label mean-token="'edit-getUserInfoAPIendpoint'"
					class="col-md-2 pull-left err-msg-getUserInfoAPIendpoint">GetUserInfo API Endpoint</label>
				<div class="col-md-9">
					<input name="getUserInfoAPIendpoint" type="text" data-ng-model="site.getUserInfoAPIendpoint"
						id="getUserInfoAPIendpoint" placeholder="/getUserInfo.py"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.getUserInfoAPIendpoint.$invalid">
						<span class="err-msg"
							ng-show="siteForm.getUserInfoAPIendpoint.$error.required"> Please
							enter the GetUserInfo API Endpoint </span>
					</div>
				</div>
			</div>
			<!-- <div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.getUserInfoAPIJSON.$invalid }">
				<label mean-token="'edit-getUserInfoAPIJSON'"
					class="col-md-2 pull-left err-msg-getUserInfoAPIJSON">GetUserInfoAPIJSON</label>
				<div class="col-md-9">
					<textarea name="getUserInfoAPIJSON" data-ng-model="site.getUserInfoAPIJSON"
						id="getUserInfoAPIJSON" cols="30" rows="3" placeholder="getUserInfoAPIJSON"
						class="form-control err-msg " required ></textarea>
					<div ng-show="submitted && siteForm.getUserInfoAPIJSON.$invalid">
						<span class="err-msg"
							ng-show="siteForm.getUserInfoAPIJSON.$error.required"> Please
							enter the getUserInfoAPIJSON </span>
					</div>
				</div>
			</div> -->
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.getSingleJobAPIendpoint.$invalid }">
				<label mean-token="'edit-getSingleJobAPIendpoint'"
					class="col-md-2 pull-left err-msg-getSingleJobAPIendpoint">GetSingleJob API Endpoint</label>
				<div class="col-md-9">
					<input name="getSingleJobAPIendpoint" type="text" data-ng-model="site.getSingleJobAPIendpoint"
						id="getSingleJobAPIendpoint" placeholder="/getSingleJob.py"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.getSingleJobAPIendpoint.$invalid">
						<span class="err-msg"
							ng-show="siteForm.getSingleJobAPIendpoint.$error.required"> Please
							enter the GetSingleJob API Endpoint </span>
					</div>
				</div>
			</div>
			<!-- <div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.getSingleJobAPIJSON.$invalid }">
				<label mean-token="'edit-getSingleJobAPIJSON'"
					class="col-md-2 pull-left err-msg-getSingleJobAPIJSON">GetSingleJobAPIJSON</label>
				<div class="col-md-9">
					<textarea name="getSingleJobAPIJSON" data-ng-model="site.getSingleJobAPIJSON"
						id="getSingleJobAPIJSON" cols="30" rows="3" placeholder="getSingleJobAPIJSON"
						class="form-control err-msg " required ></textarea>
					<div ng-show="submitted && siteForm.getSingleJobAPIJSON.$invalid">
						<span class="err-msg"
							ng-show="siteForm.getSingleJobAPIJSON.$error.required"> Please
							enter the getSingleJobAPIJSON </span>
					</div>
				</div>
			</div> -->
			<div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.getAllJobsAPIendpoint.$invalid }">
				<label mean-token="'edit-getAllJobsAPIendpoint'"
					class="col-md-2 pull-left err-msg-getAllJobsAPIendpoint">GetAllJobs API Endpoint</label>
				<div class="col-md-9">
					<input name="getAllJobsAPIendpoint" type="text" data-ng-model="site.getAllJobsAPIendpoint"
						id="getAllJobsAPIendpoint" placeholder="/getAllJobs.py"
						class="form-control err-msg " required />
					<div ng-show="submitted && siteForm.getAllJobsAPIendpoint.$invalid">
						<span class="err-msg"
							ng-show="siteForm.getAllJobsAPIendpoint.$error.required"> Please
							enter the GetAllJobs API Endpoint </span>
					</div>
				</div>
			</div>
			<!-- <div class="form-group"
				ng-class="{ 'has-error' : submitted && siteForm.getAllJobsAPIJSON.$invalid }">
				<label mean-token="'edit-getAllJobsAPIJSON'"
					class="col-md-2 pull-left err-msg-getAllJobsAPIJSON">GetAllJobsAPIJSON</label>
				<div class="col-md-9">
					<textarea name="getAllJobsAPIJSON" data-ng-model="site.getAllJobsAPIJSON"
						id="getAllJobsAPIJSON" cols="30" rows="3" placeholder="getAllJobsAPIJSON"
						class="form-control err-msg " required ></textarea>
					<div ng-show="submitted && siteForm.getAllJobsAPIJSON.$invalid">
						<span class="err-msg"
							ng-show="siteForm.getAllJobsAPIJSON.$error.required"> Please
							enter the getAllJobsAPIJSON </span>
					</div>
				</div>
			</div> -->
			<div class="form-group ">
			<div class="col-md-offset-2 col-md-9">
					<input name="enabled" type="checkbox" data-ng-model="site.enabled"
						id="enabled" class=""> Enabled 
			</div>
			</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-9 roleCreate text-center">
				<button mean-token="'edit-submit'" type="button"
					class="btn btn-info" ng-click="update(siteForm.$valid)">Submit</button>
				<button type="button" class="btn btn-info"
					ng-click="cancelSite()">Cancel</button>
			</div>
		</div>
		</form>
	</div>
</section>
