<section data-ng-controller="SiteController" data-ng-init="find(); loadNewSiteForm();">
<div data-ng-include="'/system/views/alert.html'"></div>
 <div ng-include="'/system/views/breadcrum.html'"></div>
	<div class="mainwrapper social-group-header">
	<h3 class="pull-left ">Sites</h3>
	<button class="btn btn-info pro-top pull-right" ng-if="writePermission" data-ng-click="newSite()">Create
			Site</button>
		</div>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th class="text-center">Site Name</th>
				<th class="text-center">Site Url</th>
				<th class="text-center">API Url</th>
				<th class="text-center">API Site Id</th>
				<th class="text-center">Site Enabled?</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="site in collection" class="" ng-class-odd="'odd'"
				ng-class-even="'even'">
				<td ><a href="" data-ng-click="siteDetails(site)">{{site.websiteName}}</a></td>
				<td>{{site.websiteUrl}}</td>
				<td>{{site.apiUrl}}</td>
				<td>{{site.apiSiteId}}</td>
				<td ng-if="site.enabled" class="text-center"><i class="fa fa-check"></i></td>
				<td ng-if="!site.enabled" class="text-center"><i class="fa fa-times"></i></td>
			    <td><a href="" class="linksGap"  ng-if="updatePermission" data-ng-click="editSite(JOBS.URL_PATH.SITEEDIT,site._id)">
						<i class="fa fa-pencil-square-o tooltip-right" data-toggle="tooltip" data-placement="bottom" data-tooltip="Edit"></i></a> 
						<a href="" ng-click ="modalDeletePopup(site)" ng-if="deletePermission" class="linksGap">
				 <i class="fa fa-minus-circle tooltip-right" data-toggle="tooltip" data-placement="bottom" data-tooltip="Delete"></i></a>
				 </td>
			</tr>
			<tr data-ng-hide="!collection || collection.length">
                <td colspan="8">No Sites found</td>
            </tr> 
		</tbody>
	</table>
	<div data-ng-show=" !collection || collection.length" class="paginate usr">
		<div ng-include="'system/views/paginationFilter.html'"></div>
		<br>
	</div>
	<div ng-include="'/system/views/delete-popup.html'"></div>
</section>