<section data-ng-controller="SiteController" data-ng-init="find()">
<div data-ng-include="'/system/views/alert.html'"></div>
	<div class="mainwrapper anchorTag">
		<ol class="breadcrumb">
			<li><i data-ng-click="redirectdashboard()"
				class="fa fa-home link-pointer"></i></li>
			<li ng-disable = "true">Sites</li>
			<li></li>
		</ol>
	</div>
	<div class="mainwrapper">
	<h3 class="pull-left ">Sites</h3>
	<button class="btn btn-info pro-top pull-right" data-ng-click="newSite()">Create
			Site</button>
		</div>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th class="text-center">Website Name</th>
				<th class="text-center">Website Url</th>
				<th class="text-center">Username</th>
				<th class="text-center">Password</th>
				<th class="text-center">Enabled</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="site in collection" class="" ng-class-odd="'odd'"
				ng-class-even="'even'">
				<td ><a href="" data-ng-click="siteDetails(site)">{{site.websiteName}}</a></td>
				<td>{{site.websiteUrl}}</td>
				<td>{{site.username}}</td>
				<td class="text-center">**********</td>
				<td ng-if="site.enabled" class="text-center"><i class="fa fa-check"></i></td>
				<td ng-if="!site.enabled" class="text-center"><i class="fa fa-times"></i></td>
			    <td class="text-center"><a href="/site/{{site._id}}/edit" class="linksGap">
						<i class="fa fa-pencil-square-o"></i></a> 
						<a href="" ng-click ="modalDeleteSite(site)" data-target="#deleteSite" class="linksGap">
				 <i class="fa fa-minus-circle"></i></a>
				 </td>
			</tr>
		</tbody>
	</table>
	<div class="paginate usr">
		<div ng-include="'system/views/paginationFilter.html'"></div>
		<br>
	</div>
	<h1 data-ng-hide="!collection || collection.length">
		No sites yet. <br> Why don't you 
		<a href="/site/create">Create One</a>?
	</h1>
	<div ng-include="'jobs/views/deletesite.html'"></div>
</section>