<section class="partnerinfo mydetails" ng-controller="RoomsController"
	ng-init="singleRoomDetail();loadroomtypes();checkingLoggedinUserIsAdmin();">
	<div ng-if="loaderEnabled">
		<div id="preloaderImage">
			<div class="tb-cell">
				<div id="page-loadingImage">
					<div></div>
					<p>
					<h4 class="h-image-caption">Uploading....</h4>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<!-- Banner Content -->
		<div class="banner-cn">
			<!-- Tabs Content -->
			<div class="tab-content" style="background: transparent;">
				<div class="row">
					<div data-ng-include="'/superAdmin/views/adminLeftPanel.html'">
					</div>
					<!-- End Tabs Cat -->
					<div class="col-xs-9 col-lg-10">
						<div class="page-content page-thin dashboard-content">
							<div class="row">
								<div class="panel-body" style="padding: 15px 0;">
									<div class="form-hotel tab-pane in no-padding" id="addroom">
										<div class="col-xs-12">
											<form name="spaceeditroomForm" class="form-validation"
												role="form" novalidate>
												<div class="panel-body bg-white">
													<div class="row panel-heade text-left"
														style="padding: 15px;">
														<h3>Room Details</h3>
													</div>
													<div class="row">
														<div class="col-md-12 col-xs-12 col-xs-12">
															<div class="row">
																<div class="col-xs-5">
																	<div class="form-group">
																		<label class="control-label"> Room Type </label>
																		<div class="option-group">
																			<select class="type col-xs-12 form-control"
																				ng-model="room.roomtype._id" required="">
																				<option value="" selected="selected"
																					disabled="disabled">Select Room Type...</option>
																				<option ng-repeat="items in roomtypeoptions"
																					value="{{items._id}}">{{items.name}}</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="box get_hd panel panel-default no-bd"
													ng-if='roomtypevalue != ""'>
													<div class="panel-body bg-white">
														<div class="row">
															<div class="col-md-12 col-xs-12 col-xs-12">
																<div class="row">
																	<div class="col-xs-12">
																		<div class="get_hd box">
																			<div class="row">
																				<div class="col-xs-6">
																					<div class="form-group">
																						<label class="control-label">Name</label>
																						<div class="append-icon">
																							<input type="text" ng-model="room.name"
																								name="roomname" class="form-control"
																								placeholder="Minimum 4 characters..." required>
																							<i class="icon-user"></i>
																							<div ng-class="errorRed"
																								ng-show="submitted && spaceeditroomForm.roomname.$invalid">
																								<span class="errorRed"
																									ng-show="spaceeditroomForm.roomname.$error.required">
																									Please enter name </span>
																							</div>
																							<div class="errorRed"
																								ng-repeat="err in error.data"
																								ng-if="err.param =='name'">{{err.msg}}</div>

																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-xs-2">
																					<div class="form-group">
																						<label class="control-label">Per Hour</label>
																						<div class="append-icon">
																							<input type="number" name="roomperhour"
																								class="form-control"
																								ng-model="room.pricePerhour" required> <i
																								class="fa fa-inr"></i>
																							<div
																								ng-show="submitted && spaceeditroomForm.roomperhour.$invalid">
																								<span class=""
																									ng-show="spaceeditroomForm.roomperhour.$error.required">
																									Please enter the price per hour</span>
																							</div>
																							<div class="errorRed"
																								ng-repeat="err in error.data"
																								ng-if="err.param =='pricePerhour'">{{err.msg}}</div>
																						</div>
																					</div>
																				</div>
																				<div class="col-xs-2">
																					<div class="form-group">
																						<label class="control-label">Half Day</label>
																						<div class="append-icon">
																							<input type="number" name="roomperhalfday"
																								class="form-control"
																								ng-model="room.pricePerhalfday" required>
																							<i class="fa fa-inr"></i>
																							<div
																								ng-show="submitted && spaceeditroomForm.roomperhalfday.$invalid">
																								<span class=""
																									ng-show="spaceeditroomForm.roomperhalfday.$error.required">
																									Please enter the price per halfday</span>
																							</div>
																							<div class="errorRed"
																								ng-repeat="err in error.data"
																								ng-if="err.param =='pricePerhalfday'">{{err.msg}}</div>
																						</div>
																					</div>
																				</div>
																				<div class="col-xs-2">
																					<div class="form-group">
																						<label class="control-label">Full Day</label>
																						<div class="append-icon">
																							<input type="number" name="roomperfullday"
																								class="form-control"
																								ng-model="room.pricePerfullday" required>
																							<i class="fa fa-inr"></i>
																							<div
																								ng-show="submitted && spaceeditroomForm.roomperfullday.$invalid">
																								<span class=""
																									ng-show="spaceeditroomForm.roomperfullday.$error.required">
																									Please enter the price for fullday</span>
																							</div>
																							<div class="errorRed"
																								ng-repeat="err in error.data"
																								ng-if="err.param =='pricePerfullday'">{{err.msg}}</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-xs-12">
																					<div class="form-group">
																						<label class="control-label">Amenities</label>
																						<div ng-repeat="amenity in room.amenities">
																							<div class="col-xs-12">
																								<label>{{amenity.name}}</label><br> <input
																									data-ng-click="toggleSpaceAmenityApplicable(amenity)"
																									name='amenity{{$index}}' id='amenity{{$index}}'
																									type="checkbox"
																									class="not-show wdth-meetngdtls"
																									ng-model="amenity.isApplicable" /><span>Is
																									Applicable</span><br> <input
																									ng-if="!amenity.isStatus"
																									data-ng-click="toggleSpaceAmenityChargeable(amenity);"
																									name='isChargeable{{$index}}'
																									id='isChargeable{{$index}}' type="checkbox"
																									class="not-show wdth-meetngdtls"
																									ng-model="amenity.isChargeable" /><span
																									ng-if="!amenity.isStatus"> Is Chargeable</span>
																								<div ng-show="amenity.isChargeable"
																									ng-if="!amenity.isStatus">
																									<div>
																										<label>Price:</label> <input type="number"
																											name="price" ng-model="amenity.price" /> <a
																											class="clear" ng-click="amenity.price = null">
																											<span class="glyphicon glyphicon-remove"></span>
																										</a>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="row" style="margin-top: 15px;">
																				<div class="col-xs-6">
																					<div class="form-group">
																						<label class="control-label">Description</label>
																						<div class="append-icon">
																							<textarea rows="4" name="roomdescription"
																								class="form-control" ng-model="room.description"
																								required></textarea>
																							<div
																								ng-show="submitted && spaceeditroomForm.roomdescription.$invalid">
																								<span class=""
																									ng-show="spaceeditroomForm.roomdescription.$error.required">
																									Please Enter Description </span>
																							</div>
																							<div class="errorRed"
																								ng-repeat="err in error.data"
																								ng-if="err.param =='description'">{{err.msg}}</div>


																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-xs-3">
																					<div class="form-group">
																						<label class="control-label">Total Seats /
																							Desks</label>
																						<div class="option-group">
																							<select id="seats" name="roomseats"
																								class="type col-xs-12 form-control" required
																								ng-model="room.capacity">
																								<option value="">Select Total Seats /
																									Desks</option>
																								<option value="1">1</option>
																								<option value="2">2</option>
																								<option value="3">3</option>
																								<option value="4">4</option>
																								<option value="5">5</option>
																								<option value="6">6</option>
																								<option value="7">7</option>
																								<option value="8">8</option>
																								<option value="9">9</option>
																								<option value="10">10</option>
																							</select>
																						</div>
																						<div
																							ng-show="submitted && spaceeditroomForm.roomseats.$invalid">
																							<span class=""
																								ng-show="spaceeditroomForm.roomseats.$error.required">
																								Please select the total seats</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div id="get_images" class="panel panel-default no-bd">
														<div class="panel-body bg-white">
															<div class="row">
																<div class="col-md-12 col-xs-12">
																	<div id="img_container" class="form-group">
																		<div class="row">
																			<div class="col-xs-2">
																				<div class="form-group">
																					<label class="control-label">Image</label>
																					<div class="option-group">
																						<div class="btn btn-default append-icon"
																							ngf-select="roomImageUpload($files)"
																							accept="image/png, image/jpeg"
																							data-ng-disabled="counter>=5">Upload</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div data-ng-if="room.images && room.images.length>0">
																			<div class="row mt10"
																				ng-repeat="image in room.images">
																				<div class="col-xs-2">
																					<img class="img-responsive img150 image-border"
																						src="{{image.tempUrl}}" alt="uploaded image">
																					<!-- <div ng-show="isImage" ng-init="image.url = imageurl"></div> -->
																				</div>
																				<div class="col-xs-4">
																					<input type="text" name="name"
																						data-ng-model="image.name" class=" form-control"
																						placeholder="Image Name">
																					<textarea name="description" rows="2" cols="19"
																						data-ng-model="image.description"
																						class="mt10 form-control"
																						placeholder="Image Description"></textarea>
																				</div>
																				<div class="col-xs-1">
																					<div class="image-text-delete">
																						<a href=""
																							data-ng-click="removeRoomImage($index,partnerDetailForm,room);">
																							<i class="fa fa-times"></i>
																						</a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<!-- <div class="col-md-2 col-xs-2 col-xs-4">
                                  <a href="javascript:void(0);" id="add_img" class="cancel awe-btn awe-btn-5 awe-btn-lager text-uppercase">Add</a>
                                </div> -->
															</div>
														</div>
														<div class="panel-body bg-white">
															<div class="row">
																<div class="col-xs-12 col-lg-12">
																	<div class="row col-xs-12 col-lg-12">
																		<div class="row col-xs-12 col-lg-12">
																			<h3>Weekly Timing</h3>
																			<div class="table-responsive">
																				<table
																					class="table table-striped mb30 table table-bordered mb30">
																					<thead>
																						<tr>
																							<th class="textalign table-capitalize">Day</th>
																							<th class="textalign table-capitalize">
																								Start Time</th>
																							<th class="textalign table-capitalize">End
																								Time</th>
																							<th class="textalign table-capitalize">24
																								hours</th>
																							<th class="textalign table-capitalize">Is
																								closed</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr ng-repeat="hoursObj in officeHoursRoomsSlot">
																							<td align="center">{{hoursObj.day}}</td>
																							<td align="center"><uib-timepicker
																									hour-step="hstep" max="hoursObj.max"
																									min="hoursObj.min" minute-step="mstep"
																									ng-change="changed(hoursObj.startTime, hoursObj.endTime, $index)"
																									ng-disabled="hoursObj.isAllday || hoursObj.isClosed"
																									ng-model="hoursObj.startTime"
																									show-meridian="ismeridian"> </uib-timepicker></td>
																							<td align="center"><uib-timepicker
																									hour-step="hstep" max="hoursObj.max"
																									min="hoursObj.min" minute-step="mstep"
																									ng-change="changed(hoursObj.startTime, hoursObj.endTime, $index)"
																									ng-disabled="hoursObj.isAllday || hoursObj.isClosed"
																									ng-model="hoursObj.endTime"
																									show-meridian="ismeridian"> </uib-timepicker>
																								<p class="error-msg" ng-show="err{{$index}}">
																									End time must be greater than start time</p></td>
																							<td align="center"><input
																								id="isAllDay{{$index}}"
																								name="isAllDay{{$index}}"
																								ng-change="toggleAllDayAddRoom(hoursObj);"
																								ng-model="hoursObj.isAllday"
																								ng-disabled="!hoursObj.isAlldaylogic"
																								type="checkbox" /></td>
																							<td align="center"><input
																								id="isClosed{{$index}}"
																								name="isClosed{{$index}}"
																								ng-change="setFullDay(hoursObj); toggleClosedAddRoom(hoursObj);"
																								ng-model="hoursObj.isClosed" ng-disabled="true"
																								type="checkbox" /></td>
																						</tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="panel-body text-center">
															<a id="back2" href="#spaces" data-toggle="tab"
																class="cancel awe-btn awe-btn-5 awe-btn-lager text-uppercase"
																ng-click="cancelRoomEdit();">Back</a> <a href="#"
																class="awe-btn awe-btn-2 awe-btn-lager text-uppercase"
																ng-click="saveEditedRoomDetail(spaceeditroomForm.$valid);">Update</a>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="cancelscheduleedit();">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<p>Booking already done for this schedule you cannot edit the
						schedule</p>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmscheduleedit()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelscheduleedit();">No</button>-->
				</div>
			</div>

		</div>
	</div>
</section>
<!--End Banner-->