<section data-ng-controller="ExternalTaskController">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-7">
                <div class="portlet light bordered clearfix">
                    <div class="portlet-body">
                        <form role="form" class="form-horizontal" name="ExternalSecurityTaskForm" novalidate>
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group" data-ng-class="{ 'has-error' : submitted && ExternalSecurityTaskForm.task_name.$invalid }">
                                        <label class="col-md-3 control-label">Task Name<span class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" name="task_name" data-ng-model="externalsecuritytask.task_name" class="form-control" placeholder="Task name " required>
                                            <div class="text-danger" data-ng-repeat="err in error.data" data-ng-if="err.param =='task_name'">{{err.msg}}</div>
                                            <div data-ng-show="submitted && ExternalSecurityTaskForm.task_name.$invalid">
                                                <span class="help-block" data-ng-show="ExternalSecurityTaskForm.task_name.$error.required">
													Please enter task name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" data-ng-class="{ 'has-error' : submitted && ExternalSecurityTaskForm.description.$invalid }">
                                        <label class="col-md-3 control-label">Description<span class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" name="description" data-ng-model="externalsecuritytask.description" class="form-control" placeholder="Description" required>
                                            <div class="text-danger" data-ng-repeat="err in error.data" data-ng-if="err.param =='description'">{{err.msg}}</div>
                                            <div data-ng-show="submitted && ExternalSecurityTaskForm.description.$invalid">
                                                <span class="help-block" data-ng-show="ExternalSecurityTaskForm.description.$error.required">
													Please enter description</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" data-ng-class="{ 'has-error' : submitted && ExternalSecurityTaskForm.name.$invalid }">
                                        <label class="col-md-3 control-label">Name<span class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" name="name" data-ng-model="externalsecuritytask.name" class="form-control" placeholder="Name" required>
                                            <div class="text-danger" data-ng-repeat="err in error.data" data-ng-if="err.param =='name'">{{err.msg}}</div>
                                            <div data-ng-show="submitted && ExternalSecurityTaskForm.name.$invalid">
                                                <span class="help-block" data-ng-show="ExternalSecurityTaskForm.name.$error.required">
													Please enter name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" data-ng-class="{ 'has-error' : submitted && ExternalSecurityTaskForm.email.$invalid }">
                                        <label class="col-md-3 control-label">Email<span class="required" aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" name="email" data-ng-model="externalsecuritytask.email" class="form-control" placeholder="Email" required>
                                            <div class="text-danger" data-ng-repeat="err in error.data" data-ng-if="err.param =='email'">{{err.msg}}</div>
                                            <div data-ng-show="submitted && ExternalSecurityTaskForm.email.$invalid">
                                                <span class="help-block" data-ng-show="ExternalSecurityTaskForm.email.$error.required">
													Please enter email</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-8 text-right">
                                                <button type="button" class="btn default" data-ng-click="taskList()">Cancel</button>
                                                <button type="button" class="btn green" data-ng-click="create(ExternalSecurityTaskForm.$valid)">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
