<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
	aria-labelledby="frgtpswdlabel" id="deleteCountry">
	<div class="modal-dialog modelShow" role="document">
		<div class="modal-content modal-margntop">
			<div class="modal-header">Delete Country</div>
			<div class="modal-body">

				<p>{{countrydeletetext}}</p>
				<button type="submit" class="btn btn-info"
					ng-click="remove(country)">Delete</button>
				<button ng-click="cancelCountry()" class="btn btn-info">Cancel</button>
			</div>
		</div>
	</div>
</div>