<div class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="frgtpswdlabel" id="deleteCity">
	<div class="modal-dialog modelShow" role="document">
		<div class="modal-content modal-margntop">
			<div class="modal-header">Delete City</div>
			<div class="modal-body">

				<p>Are you sure you want to delete the city?</p>
				<button type="submit" class="btn btn-info"
					ng-click="remove(city)">Delete</button>
					<button	ng-click="cancelCity()" class="btn btn-info">Cancel</button>
			</div>
		</div>
	</div>

</div>