<section data-ng-controller="RoleController" data-ng-init="getRoles()">
    <div class="row">
        <div class="col-sm-6">
            <div class="portlet light bordered clearfix">
                <div class="portlet-title">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-4">
                                <input class="form-control" ng-model="tableFilter" placeholder="Search.." type="text">
                                </input>
                            </div>
                            <div class="col-xs-6 btn-group pull-right">
                                <button class="btn blue pull-right" id="sample_editable_1_new" data-ng-click="newRoles()">
                                    New Role
                                    <i class="fa fa-plus">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="table table-condensed table-bordered table-striped" ng-table="tableParams" data-ng-show="roleData.length > 0">
                        <tr ng-repeat="row in $data">
                            <td data-title="'Name'" sortable="'name'">
                                {{row.name}}
                            </td>
                            <td data-title="'Description'" sortable="'description'">
                                {{row.description}}
                            </td>
                            <td class="col-sm-1 col-half" data-title="'Actions'">
                                <div class="btn-group">
                                    <a aria-expanded="false" class="btn blue" data-toggle="dropdown" href="javascript:;">
                                        <i class="fa fa-wrench">
                                        </i>
                                        <i class="fa fa-angle-down">
                                        </i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a ng-click="edit(row._id)">
                                                <i class="fa fa-pencil-square">
                                                </i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="delete(row)">
                                                <i class="fa fa-trash-o">
                                                </i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr data-ng-show="!tableParams.settings().dataset.length">
                            <td colspan="11">
                                No Role  matched your filter condition.
                            </td>
                        </tr>
                    </table>
                    <div data-ng-show="!roleData.length>0">
                        <label>
                            No Roles Available
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="portlet light bordered clearfix">
                <div class="portlet-title">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="caption pull-left">
                                    <!-- <i class="icon-settings font-dark"></i> -->
                                    <span class="caption-subject font-dark sbold uppercase">
                                        System Roles
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="table table-condensed table-bordered table-striped" ng-table="tablePristine" data-ng-show="roleDataset2.length > 0">
                        <tr ng-repeat="row in $data">
                            <td data-title="'Name'" sortable="'name'">
                                {{row.name}}
                            </td>
                            <td data-title="'Description'" sortable="'description'">
                                {{row.description}}
                            </td>
                            <td class="col-sm-1 col-half" data-title="'Actions'">
                                <div class="btn-group">
                                    <a aria-expanded="false" class="btn blue" data-toggle="dropdown" href="javascript:;">
                                        <i class="fa fa-wrench">
                                        </i>
                                        <i class="fa fa-angle-down">
                                        </i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a ng-click="edit(row._id)">
                                                <i class="fa fa-pencil-eye">
                                                </i>
                                                View
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div data-ng-show="!roleDataset2.length>0">
                        <label>
                            No Roles Available
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
