<!-- BEGIN SAMPLE FORM PORTLET-->
<section data-ng-controller="RoleController" data-ng-init="getFeatures()">
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet-title">
                    <div class="caption">
                    </div>
                </div>
                <div class=" form" style="left:0">
                    <form class="form-horizontal" name="roleForm" role="form">
                        <div class="form-body">
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Name
                                    </label>
                                    <div class="col-md-6">
                                        <input class="form-control" name="name" ng-model="newRole.name" placeholder="Enter first name" required="" type="text">
                                            <div class="col-xs-12 text-danger" ng-show="submitted">
                                                <span ng-show="roleForm.name.$error.required">
                                                    Please enter the name
                                                </span>
                                            </div>
                                            <div class="col-xs-12 text-danger" ng-if="error.param == 'name'" ng-repeat="error in err.data">
                                                {{error.msg}}
                                            </div>
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        Description
                                    </label>
                                    <div class="col-md-6">
                                        <input class="form-control" name="description" ng-model="newRole.description" placeholder="Enter text" required="" type="text">
                                            <div class="col-xs-12 text-danger" ng-show="submitted">
                                                <span ng-show="roleForm.description.$error.required">
                                                    Please enter Description
                                                </span>
                                            </div>
                                            <div class="col-xs-12 text-danger" ng-if="error.param == 'lastname'" ng-repeat="error in err.data">
                                                {{error.msg}}
                                            </div>
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label caption-subject font-dark sbold uppercase">
                                        Features
                                    </label>
                                </div>
                                <div class="col-xs-offset-3 col-xs-6">
                                    <table class="table borderless">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    Feature
                                                </th>
                                                <th class="text-center">
                                                    Read
                                                </th>
                                                <th class="text-center">
                                                    Create
                                                </th>
                                                <th class="text-center">
                                                    Update
                                                </th>
                                                <th class="text-center">
                                                    Delete
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="feature in features">
                                                <td class=" borderless">
                                                    <input data-ng-click="addFeature(feature)" id="feature{{feature._id}}" name="check" ng-model="feature.selected" type="checkbox" value="true">
                                                        <label for="feature{{feature._id}}">
                                                            {{feature.name}}
                                                        </label>
                                                    </input>
                                                </td>
                                                <td class="text-center">
                                                    <input data-ng-model="newRole.permissions[feature._id].read" id="isRead{{feature._id}}" name="check" ng-disabled="!feature.selected || disable" type="checkbox" value="true">
                                                    </input>
                                                </td>
                                                <td class="text-center">
                                                    <input data-ng-model="newRole.permissions[feature._id].create" id="isWrite{{feature._id}}" name="check" ng-disabled="!feature.selected && !role.permissions[feature._id].read" type="checkbox" value="true">
                                                    </input>
                                                </td>
                                                <td class="text-center">
                                                    <input data-ng-model="newRole.permissions[feature._id].update" id="isUpdate{{feature._id}}" name="check" ng-disabled="!feature.selected && !role.permissions[feature._id].read" type="checkbox" value="true">
                                                    </input>
                                                </td>
                                                <td class="text-center">
                                                    <input data-ng-model="newRole.permissions[feature._id].delete" id="isDelete{{feature._id}}" name="check" ng-disabled="!feature.selected && !role.permissions[feature._id].read" type="checkbox" value="true">
                                                    </input>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-actions" style="clear: both;">
                <div class="col-sm-12 text-right">
                    <button class="btn green" data-ng-click="createRole(roleForm.$valid)" mean-token="'create-submit'" type="button">
                        Submit
                    </button>
                    <button class="btn default" type="button" ng-click = "cancelRedirect()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
