<section data-ng-controller="FeatureController"  data-ng-init="findShow();">
     <div ng-include="'/system/views/breadcrum.html'"></div>
    	<div class="mainwrapper social-group-header">
		<div>
			<h3 class="pull-left">Feature Show</h3>
			<div class="pull-right">
				<a class="btn btn-info" href="/admin/feature/{{feature._id}}/edit">Edit</a> <a
					href="" class="btn btn-info" ng-click="modalDeletePopup(feature)">Delete</a>
			</div>
		</div>
	</div>
		<div class="mainwrapper">
		<form  class="form-horizontal leftAlign formAlign" novalidate>
			<!-- Feature Name -->
			<div class="form-group">
				<label class="col-md-2">Name</label>
				<div class="col-md-10 viewRole">
					{{feature.name}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">URL</label>
				<div class="col-md-10">
					{{feature.url}}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-2">Description</label>
				<div class="col-md-10">
					{{feature.description | limitTo: 20}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">Icon</label>
				<div class="col-md-10">
				{{feature.icon}}
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">Color</label>
				<div class="col-md-10">
					{{feature.color}}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-2">isComponent</label>
				<div class="col-md-10">
					<span class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="button" class="btn btn-info" ng-click="cancel()">Back</button>
				</div>
			</div>
			
    		</form>
    		</div>
<div ng-include="'/system/views/delete-popup.html'"></div>
</section>